
#backlog li{cursor:move;border: 1px solid #E7E7E7;box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.1);margin: 3px 0;position: relative;}
#backlog .spinner{position:absolute;left:0;right:0;top:0;bottom:0;z-index:50;background-image: url(/img/ajax-loader.gif); background-position: center center;background-repeat: no-repeat}