/* Make diff beautiful :') */
.Differences {
	font-family: 'Consolas', 'Monaco', monospace;
	font-size: 12px;
}
#history .DifferencesInline thead,
#history .DifferencesInline tbody th {
	display: none;
}

#history .DifferencesInline .ChangeReplace .Left,
#history .DifferencesInline .ChangeDelete .Left {
	background-color: #fdd;
	background-color: rgba(255,0,0,0.1);
}
#history .DifferencesInline .ChangeReplace del {
	background-color: #e99;
	background-color: rgba(255,0,0,0.2);
}

#history .DifferencesInline .ChangeReplace .Right,
#history .DifferencesInline .ChangeInsert .Right {
	background-color: #dfd;
	background-color: rgba(50,255,50,0.1);
}
#history .DifferencesInline .ChangeReplace ins {
	background-color: #9e9;
	background-color: rgba(50,255,50,0.25);
}
