body {
	margin: 20px 0;
}
body.has-fixed-nav {
	margin-top: 80px;
}
@media only screen and (max-width: 767px) {
	body:not(.login) {
		margin-top: 80px;
	}
	.navbar-fixed-top > .navbar-btn {
		float: right;
		margin-right: 8px;
	}
}

legend, label {
	font-weight: 300;
}

a.nolink {
	color: inherit;
	text-decoration: inherit;
}
a.nolink:hover {
	text-decoration: underline;
}

.dashboard .list-group-item .badge {
	margin-top: 3px;
}
.dashboard .list-group-item .badge-sibling {
	margin: 2px 8px 0 0;
}

textarea {
	resize: vertical;
	min-height: 3em;
}

.jumbotron.failwhale {
	background: #ecf0f1 url(/img/failwave-flatly.png) center bottom repeat-x;
	padding-bottom: 80px;
}

.jumbotron.failwhale img {
	float: right;
	height: 140px;
	width: auto;
}

.nav-tabs {
	margin-bottom: 15px;
}
