body {
	padding: 80px 0 0;
}
body.login {
	padding-top: 20px;
}
@media only screen and (max-width: 767px) {
	.navbar-fixed-top > .navbar-btn {
		float: right;
		margin-right: 8px;
	}
}
.navbar {
	padding: 0 10px;
}
.navbar-nav > li > a > .glyphicon {
	line-height: inherit;
}

.container {
	max-width: none;
}

footer p {
	line-height: 20px;
}

.js{display: block;}
.nojs{display: none;}

legend, label {
	font-weight: 300;
}

a.nolink {
	color: inherit;
	text-decoration: inherit;
}
a.nolink:hover {
	text-decoration: underline;
}

.dashboard .list-group-item .badge {
	margin-top: 3px;
}
.dashboard .list-group-item .badge-sibling {
	margin: 2px 8px 0 0;
}

textarea {
	resize: vertical;
	min-height: 3em;
}

.jumbotron.failwhale {
	background: #ecf0f1 url(/img/failwave-flatly.png) center bottom repeat-x;
	padding-bottom: 80px;
}

.jumbotron.failwhale img {
	float: right;
	height: 140px;
	width: auto;
}

.nav-tabs {
	margin-bottom: 15px;
}

.img-border {
	box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.12) inset;
	transition: box-shadow 0.15s ease-in-out 0s;
}
a:hover .img-border,
a:focus .img-border,
a:active .img-border {
	box-shadow: 0px 0px 0px 2px #1ABC9C inset;
}

.profile-picture {
	background-color: #ecf0f1;
}

.issue-head .profile-picture,
.comment .profile-picture,
.update .profile-picture {
	margin-right: 10px;
	float: left;
}
.issue-head p {
	float: left;
	line-height: 20px;
	padding: 4px 0;
}

.comment,
.update {
	margin-bottom: 15px;
}
.comments .comment p,
.updates .update p {
	line-height: 20px;
}
.comments .comment p:last-child {
	line-height: 16px;
}
.comments,
.comments .comment p,
.updates .update p,
.comments .form-group:last-child {
	margin-bottom: 0;
}
.comments .comment p small {
	font-size: 12px;
}

.panel-heading.has-buttons .panel-title {
	line-height: 24px;
}

select[multiple] {
	padding: 2px;
}

.file-list li {
	text-align: center;
	width: 96px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
