#taskboard {
	margin-top: -20px;
	table-layout: fixed;
	font-size: 14px;
}
#taskboard td,
#taskboard th {
	width: 270px;
}
#taskboard thead > tr > * {
	position: sticky;
	top: 60px;
	background-color: rgba(255, 255, 255, 0.85);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
@supports (backdrop-filter: blur(15px)) or (--webkit-backdrop-filter: blur(15px)) {
	#taskboard thead > tr > * {
		background-color: rgba(255, 255, 255, 0.5);
		--webkit-backdrop-filter: blur(15px);
		backdrop-filter: blur(15px);
	}
}
#taskboard .panel {
	border-left-width: 4px;
	margin-bottom: 10px;
}
#taskboard .panel-body {
	padding: 5px 10px;
}
#taskboard .completed .panel {
	font-size: 12px;
}
