<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body class="dashboard">
<div class="container">
	<include href="blocks/navbar.html" />
	<div class="row">
		<div class="col-sm-4">
			<h3>My Projects&ensp;<small>{{ @projects.total }}</small>&emsp;<a class="btn btn-sm btn-default" href="/projects/new"><span class="glyphicon glyphicon-plus"></span></a></h3>
			<div class="list-group">
				<repeat group="{{ @projects.subset }}" value="{{ @project }}">
					<a class="list-group-item" href="/projects/{{ @project.id }}">
						<span class="badge">#{{ @project.id }}</span>
						<h4 class="list-group-item-heading">{{ @project.name }}</h4>
					</a>
				</repeat>
			</div>
		</div>
		<div class="col-sm-8">
			<h3>My Tasks&ensp;<small>{{ @tasks.total }}</small>&emsp;<a class="btn btn-sm btn-default" href="/tasks/new"><span class="glyphicon glyphicon-plus"></span></a></h3>
			<div class="list-group">
				<repeat group="{{ @tasks.subset }}" value="{{ @task }}">
					<a class="list-group-item" href="/tasks/{{ @task.id }}">
						<span class="badge">#{{ @task.id }}</span>
						<h4 class="list-group-item-heading">{{ @task.name }}</h4>
					</a>
				</repeat>
			</div>
		</div>
	</div>
	<include href="blocks/footer.html" />
</div>
</body>
</html>
