<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body>
<div class="container-fluid">
	<include href="blocks/navbar.html" />
	<div class="row">
		<div class="col-lg-12">
			<ul class="nav nav-tabs">
				<li><a href="/admin/">Overview</a></li>
				<li class="active"><a href="/admin/users">Users</a></li>
				<li><a href="/admin/groups">Groups</a></li>
				<li><a href="/admin/attributes">Attributes</a></li>
				<li><a href="/admin/sprints">Sprints</a></li>
			</ul>
			<form action="/admin/users/{{ @this_user.id }}" method="post" role="form" class="form-horizontal">
				<legend>Edit User #{{ @this_user.id }}</legend>
				<repeat group="{{ @this_user->cast() }}" key="{{ @field }}" value="{{ @val }}">
					<check if="{{ @field != 'id' }}">
						<div class="form-group">
							<label for="{{ @field }}" class="col-lg-2 control-label label-sm">{{ @field }}</label>
							<div class="col-lg-10">
								<check if="{{ @field == 'password' }}">
									<true>
										<input class="form-control input-sm" id="{{ @field }}" type="password" name="{{ @field }}" value="" placeholder="Enter a new password here to change it">
									</true>
									<false>
										<check if="{{ @field != 'salt' }}">
											<input class="form-control input-sm" id="{{ @field }}" type="text" name="{{ @field }}" value="{{ @val }}">
										</check>
									</false>
								</check>
							</div>
						</div>
					</check>
				</repeat>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<button type="submit" class="btn btn-primary btn-sm">Save User</button>
						<button type="reset" class="btn btn-default btn-sm">Reset</button>
						<a href="/admin/users" class="btn btn-default btn-sm">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<include href="blocks/footer.html" />
</div>
</body>
</html>
