<!DOCTYPE html>
<html lang="{{ @LANGUAGE }}">
<head>
	<include href="blocks/head.html" />
	<link rel="stylesheet" href="{{ @site.url }}minify/css/taskboard.css">
	<set columnwidth="160" />
	<check if="{{ !empty(@taskboard[0]) }}">
		<style type="text/css">
		/* Size columns at multiples of @columnwidth ({{ @columnwidth }}px) */
{~ foreach(@statuses as @key=>@value): ~}
		#taskboard table .column-{{ @key + 1 }} {
			width: {{ @value.taskboard * @columnwidth }}px;
		}
{~ endforeach; ~}

		#taskboard table {
			width: {{ @column_count * $columnwidth + 252 }}px;
		}

		/* Reference images within <base> context */
		#taskboard .completed .spinner {
			background-image: url(img/taskboard/burn.gif);
		}
		#taskboard .spinner {
			background-image: url(img/ajax-loader.gif);
		}
		</style>
	</check>
	<!--[if lte IE 9]>
		<style type="text/css">
			/*  Fix RGBA issues */
			#taskboard .card {
				color: #000000;
				background-color: #ffffff;
			}
		</style>
	<![endif]-->
</head>
<body>
	<set fullwidth="{{ true }}" />
	<include href="blocks/navbar.html" />
	<section id="taskboard">
		<table class="taskboard-head">
			<tr class="tb-row">
				<th class="column column-1">
					<div class="btn-group">
						<button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" data-target=".bs-example-modal-lg">
							<span class="glyphicon glyphicon-filter"></span> {{ @dict.filter_tasks }} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li class="{{ @filter == 'all' ? 'active' : '' }}"><a href="{{ @site.url }}taskboard/{{ @PARAMS.id }}/all">{{ @dict.all_tasks }}</a></li>
							<li class="{{ @filter == 'groups' ? 'active' : '' }}"><a href="{{ @site.url }}taskboard/{{ @PARAMS.id }}/groups">{{ @dict.my_groups }}</a></li>
							<li class="{{ @filter == 'me' ? 'active' : '' }}"><a href="{{ @site.url }}taskboard/{{ @PARAMS.id }}/me">{{ @dict.my_tasks }}</a></li>
							<check if="{{ count(@groups) }}">
								<li class="divider"></li>
								<repeat group="{{ @groups }}" value="{{ @group }}">
									<li class="{{ @group.id == @filter ? 'active' : '' }}"><a href="{{ @site.url }}taskboard/{{ @PARAMS.id }}/{{ @group.id }}">{{ @group.name | esc }}</a></li>
								</repeat>
							</check>
						</ul>
					</div>
					<button id="btn-burndown" class="btn btn-default btn-xs dropdown-toggle" data-toggle="modal" data-target="#burndown-modal">
						<span class="glyphicon glyphicon-fire"></span> {{ @dict.burndown }}
					</button>
					<a href="{{ @site.url }}taskboard/{{ @PARAMS.id }}/{{ @filter }}" class="btn btn-default btn-xs" title="Reload taskboard">
						<span class="glyphicon glyphicon-repeat"></span>
					</a>
				</th>
				<repeat group="{{ @statuses }}" key="{{ @key }}" value="{{ @value }}">
					<th class="column column-{{ @key + 1 }}">{{ @value.name }}</th>
				</repeat>
			</tr>
		</table>
		<table id="task-table">
			<repeat group="{{ @taskboard }}" value="{{ @row }}">
				<tr data-story-id="{{ @row.project.id }}" class="tb-row">
					<td class="column column-1">
						<div id="project_{{  @row.project.id}}" class="card story {{ @row.project.status_closed ? 'completed' : '' }}" style="border-color:#{{ @row.project.owner_task_color }};">
							<div class="top">
								<a href="{{ @site.url }}issues/new/{{ @issue_type.task }}" title="Add Task" class="add-task has-tooltip pull-right" data-placement="right">
									<span class="glyphicon glyphicon-plus"></span>
								</a>
								<span class="owner">
									<check if="{{ @row.project.owner_username }}">
										<true>
											<a href="{{ @site.url }}user/{{ @row.project.owner_username }}" target="_blank">{{ @row.project.owner_name | esc }}</a>
										</true>
										<false>
											{{ @row.project.owner_name | esc }}
										</false>
									</check>
								</span>
								<span class="task-id">
									<a href="{{ @site.url }}issues/{{ @row.project.id }}" target="_blank">{{ @row.project.id }}</a>
								</span>

								<span class="task-dueDate">{{ empty(@row.project.due_date) ? "" : date('n/j', strtotime(@row.project.due_date)) }}</span>
							</div>
							<div class="title">{{ @row.project.name | esc }}</div>
							<div class="type">{{ @row.project.parent_id ? @dict.subproject : @dict.project }}</div>
						</div>
					</td>
					<repeat group="{{ @row.columns }}" key="{{ @status_id }}" value="{{ @col }}">
						<td class="column column-{{ @status_id + 1 }} {{ @statuses[@status_id]['closed'] ? 'completed' : '' }} droppable" data-status="{{ @status_id }}">
							<repeat group="{{ @col }}" value="{{ @task }}">
								<div class="card task well has-popover" id="task_{{ @task.id }}" data-id="{{ @task.id }}" data-html="true" data-trigger="hover" data-toggle="popover" data-placement="auto bottom" data-container="body" data-content="<strong>{{ @dict.cols.author }}: </strong>{{ @task.author_name | esc }}<br><strong>{{ @dict.cols.description | esc }}: </strong> {{ strlen(@task.description) > 320 ? substr(@task.description, 0, 300) . ' [...]' : @task.description | esc }}" style="border-color:#{{ @task.owner_task_color }};">
									<div class="hidden repeat_cycle">{{ @task.repeat_cycle }}</div>
									<div class="hours">{{ @task.hours_remaining ? @task.hours_remaining : '' }}</div>
									<div class="top">
										<span class="task-id"><a href="{{ @site.url }}issues/{{ @task.id }}" target="_blank">{{ @task.id }}</a></span>
										<span class="task-dueDate">{{ empty(@task.due_date) ? "" : date('n/j', strtotime(@task.due_date)) }}</span>
									</div>
									<div class="title">{{ @task.name | esc }}</div>
									<div class="description">{{ @task.description | esc }}</div>
									<check if="{{ strtotime(@task.due_date) > 0 }}">
										<true>
											<div class="dueDate">{{ date('n/j/Y', strtotime(@task.due_date)) }}</div>
										</true>
										<false>
											<div class="dueDate"></div>
										</false>
									</check>
									<check if="{{ @task.priority == 0 }}">
										<true>
											<div class="priority normal" data-val="{{ @task.priority }}">{{ @task.priority_name }}</div>
										</true>
										<false>
											<check if="{{ @task.priority < 0 }}">
												<true>
													<div class="priority low" data-val="{{ @task.priority }}">{{ @task.priority_name }}</div>
												</true>
												<false>
													<div class="priority high" data-val="{{ @task.priority }}">{{ @task.priority_name }}</div>
												</false>
											</check>
										</false>
									</check>
									<div class="owner" data-id="{{ @task.owner_id }}">
										<check if="{{ @task.owner_username }}">
											<true>
												<a href="{{ @site.url }}user/{{ @task.owner_username }}" target="_blank">{{ @task.owner_name | esc }}</a>
											</true>
											<false>
												{{ @task.owner_name | esc }}
											</false>
										</check>
									</div>
								</div>
							</repeat>
						</td>
					</repeat>
				</tr>
			</repeat>
		</table>
	</section>
	<div class="card task cloneable" id="new_task">
		<div class="hidden repeat_cycle"></div>
		<div class="hours"></div><div class="top">
			<span class="task-id"></span>
		</div>
		<div class="title"></div>
		<div class="description"></div>
		<div class="dueDate"></div>
		<div class="priority normal"></div>
		<div class="owner"></div>
	</div>
	<div class="container-fluid">
		<include href="blocks/footer.html" />
	</div>

	<!-- Add/Edit Task Modal -->
	<div class="modal" id="task-dialog" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="#task-dialog-title" method="post">
		<div class="modal-dialog">
			<form class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ @dict.close }}</span></button>
					<h4 class="modal-title" id="task-dialog-title">{{ @dict.edit }}</h4>
				</div>
				<fieldset class="modal-body">
					<input type="hidden" name="sprintId" id="sprintId" value="{{ @PARAMS.id }}">
					<input type="hidden" name="taskId" id="taskId" value="">
					<div class="col-md-7">
						<div class="form-group">
							<label for="title">{{ @dict.cols.title }}</label>
							<input type="text" name="title" id="title" class="form-control input-sm" required>
						</div>
						<div class="form-group">
							<label for="Description">{{ @dict.cols.description }}</label>
							<textarea name="description" id="description" class="form-control input-sm" rows="8"></textarea>
						</div>
					</div>
					<div class="col-md-5">
						<div class="form-group">
							<label for="assigned">{{ @dict.cols.assignee }}</label>
							<select id="assigned" name="assigned" class="form-control input-sm" onchange="Taskboard.changeUser(this)" data-default-value="{{ @user.id }}" data-default-color="#{{ @user.task_color }}">
								<option value="0" data-color="#AAAAAA">{{ @dict.not_assigned }}</option>
								<option value="{{ @user.id }}" data-color="#{{ @user.task_color }}" selected>{{ @user.name | esc }}</option>
								<optgroup label="Groups">
									<repeat group="{{ @groups }}" value="{{ @group }}">
										<option value="{{ @group.id }}" data-color="#{{ @group.task_color }}">{{ @group.name | esc }}</option>
									</repeat>
								</optgroup>
								<optgroup label="Users">
									<repeat group="{{ @users }}" value="{{ @user }}">
										<option value="{{ @user.id }}" data-color="#{{ @user.task_color }}" data-username="{{ @user.username }}">{{ @user.name | esc }}</option>
									</repeat>
								</optgroup>
							</select>
						</div>
						<div class="form-group">
							<label for="hours">{{ @dict.cols.remaining_hours }}</label>
							<input type="number" name="hours" id="hours" class="form-control input-sm" min="0" step=".5">
						</div>
						<div class="form-group">
							<label for="dueDate">{{ @dict.cols.due_date }}</label>
							<input type="text" name="dueDate" id="dueDate" value="" class="dueDate form-control input-sm">
						</div>
						<div class="form-group">
							<label for="repeat_cycle">{{ @dict.cols.repeat_cycle }}</label>
							<div>
								<select class="form-control input-sm" id="repeat_cycle" name="repeat_cycle">
									<option value="">{{ @dict.not_repeating }}</option>
									<option value="daily" {{ !empty(@issue) && @issue.repeat_cycle == 'daily' ? "selected" : "" }}>{{ @dict.daily }}</option>
									<option value="weekly" {{ !empty(@issue) && @issue.repeat_cycle == 'weekly' ? "selected" : "" }}>{{ @dict.weekly }}</option>
									<option value="monthly" {{ !empty(@issue) && @issue.repeat_cycle == 'monthly' ? "selected" : "" }}>{{ @dict.monthly }}</option>
									<option value="sprint" {{ !empty(@issue) && @issue.repeat_cycle == 'sprint' ? "selected" : "" }}>{{ @dict.sprint }}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="priority">{{ @dict.cols.priority }}</label>
							<select id="priority" name="priority" class="form-control input-sm" onchange="Taskboard.changeModalPriority($(this).find('option:selected').val())">
								<repeat group="{{ @priorities }}" value="{{ @priority }}">
									<option value="{{ @priority.value }}">{{ @priority.name }}</option>
								</repeat>
							</select>
						</div>
					</div>
					<div class="col-md-12">
						<hr>
						<div class="form-inline">
							<label>{{ @dict.track_time_spent }}</label><br>
							<div class="form-group form-group-wide">
								<label class="sr-only" for="comment">{{ @dict.comment }}</label>
								<input type="text" name="comment" id="comment" class="form-control input-sm" placeholder="{{ @dict.comment }}">
							</div>
							<div class="form-group form-group-narrow">
								<label class="sr-only" for="hours_spent">{{ @dict.cols.hours_spent }}</label>
								<input type="text" name="hours_spent" id="hours_spent" class="form-control input-sm" placeholder="{{ @dict.cols.hours_spent }}">
							</div>
							<div class="checkbox">
								&nbsp;
								<input type="hidden" name="burndown" value="0">
								<label>
									<input type="checkbox" name="burndown" id="input-burndown" value="1" checked> {{ @dict.burn_hours }}
								</label>
							</div>
						</div>
					</div>
				</fieldset>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">{{ @dict.cancel }}</button>
					<button type="submit" class="btn btn-sm btn-primary">{{ @dict.save }}</button>
				</div>
			</form>
		</div>
	</div>

	<!-- Burndown Modal -->
	<div class="modal fade" id="burndown-modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ @dict.close }}</span></button>
					<h4 class="modal-title">{{ @dict.burndown }}</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-9">
							<div>
								<canvas id="burndown" width="666" height="320"></canvas>
							</div>
						</div>
						<div class="col-md-3">
							<div id="burndown-legend" class="hidden-xs hidden-sm"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="{{ @site.url }}js/chart.js"></script>
	<script src="{{ @site.url }}minify/js/taskboard.js,burndown.js"></script>
	<script>
		var BurndownData,
			BurndownReady = false,
			BurndownLegendDict = {
				hours_remaining: '{{ @dict.hours_remaining }}',
				target_velocity: '{{ @dict.ideal_hours_remaining }}',
				actual_velocity: '{{ @dict.daily_hours_remaining }}',
			};

		$(document).ready(function() {

			// Preload burndown data
			$.ajax({
				url: site_url + "taskboard/{{ @PARAMS.id }}/burndown/{{ @tasks }}",
				success: function(data) {
					BurndownData = data;
					BurndownReady = true;
				},
				dataType: "json",
				cache: false
			});

			// Initialize burndown when requested
			$("#btn-burndown").click(function(e) {
				if(BurndownReady) {
					$("#burndown-modal").on("shown.bs.modal", function(e) {
						if(Burndown.initialized === false) {
							Burndown.init(BurndownData);
							$("#burndown-legend").html(Burndown.chart.generateLegend());
						}
					});
				} else {
					alert("Burndown data is not ready yet, click again in a few seconds.");
					e.preventDefault();
					e.stopPropagation();
				}
			});

			// Taskboard header horizontal scrolling
			$(window).scroll(function(e) {
				var left = $(this).scrollLeft();
				$(".taskboard-head").css("left", (0 - left) + 'px');
			});

			// Trigger scroll handler on ready (in case user refreshed after scrolling)
			$(window).scroll();

		});
	</script>
</body>
</html>
