<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body>
<div class="hidden-xs" style="padding-top: 100px;"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<form role="form" action="/issues/{{ @issue.id }}/delete" method="post">
				<input type="hidden" name="id" value="{{ @issue.id }}">
				<h3 class="text-center">{{ @issue.name }}&ensp;<small>#{{ @issue.id }}</small></h3>
				<p class="text-center">Are you sure you want to delete this issue?</p>
				<br>
				<div class="row">
					<div class="col-xs-6">
						<a href="/issues/{{ @issue.id }}" class="btn btn-default btn-block">Cancel</a>
					</div>
					<div class="col-xs-6">
						<button type="submit" class="btn btn-danger btn-block">Delete</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>
