<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body>
<div class="container-fluid">
	<include href="blocks/navbar.html" />
	<check if="{{ !empty(@GET.deleted) }}">
		<p class="alert alert-success">{{ @dict.deleted_success,@GET.deleted | format }}&ensp;<a href="issues/undelete/{{ @GET.deleted }}">{{ @dict.undo }}</a></p>
	</check>
	<include href="blocks/issue-list.html" />
	<ul class="pager">
		<check if="{{ !empty(@prev) }}">
			<true>
				<li class="previous"><a href="issues{{ @prev }}" rel="prev">&larr; {{ @dict.go_previous }}</a></li>
			</true>
			<false>
				<li class="previous disabled"><a href="javascript:void(0)">&larr; {{ @dict.go_previous }}</a></li>
			</false>
		</check>
		<check if="{{ !empty(@next) }}">
			<true>
				<li class="next"><a href="issues{{ @next }}" rel="next">{{ @dict.go_next }} &rarr;</a></li>
			</true>
			<false>
				<li class="next disabled"><a href="javascript:void(0)">{{ @dict.go_next }} &rarr;</a></li>
			</false>
		</check>
	</ul>
	<include href="blocks/footer.html" />
</div>
</body>
</html>
