<!DOCTYPE html>
<html lang="{{ @this->lang() }}">
<head>
    <include href="blocks/head.html" />
</head>
<body>
    <set fullwidth="{{ true }}" />
    <include href="blocks/navbar.html" />
    <div class="container-fluid">
        <check if="{{ !empty(@GET.deleted) }}">
            <p class="alert alert-success">{{ @dict.deleted_success,intval(@GET.deleted) | format }}&ensp;<a href="{{ @BASE }}/issues/undelete/{{ @GET.deleted }}">{{ @dict.restore_issue }}</a></p>
        </check>
        <include href="blocks/issue-list.html" />
        <div class="clearfix">
            <p class="pull-right hidden-xs">
                <span class="text-muted">Showing {{ (@issues.limit * @issues.pos) + 1 }}&ndash;{{ @issues.limit * (@issues.pos + 1) > @issues.total ? @issues.total : @issues.limit * (@issues.pos + 1) }} of {{ @issues.total }}</span>
            </p>
        </div>
        <check if="{{ @issues.count }}">
            <ul class="pagination pagination-sm justify-content-center my-4">
                <li class="page-item {~ if(@issues.pos == 0) echo 'disabled' ~}">
                    <a class="page-link" href="{{ @BASE }}/issues?page={{ @issues.pos ? @issues.pos - 1 : 0 }}&amp;{{ @filter_get | esc }}">
                        <span class="sr-only">{{ @dict.go_previous }}</span>
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <repeat group="{{ @pages }}" value="{{ @page }}">
                    <li class="page-item {~ if(@page == @issues.pos) echo 'active' ~}">
                        <a class="page-link" href="{{ @BASE }}/issues?page={{ @page }}&amp;{{ @filter_get }}">{{ @page + 1 }}</a>
                    </li>
                </repeat>
                <li class="page-item {~ if(@issues.pos == @issues.count - 1) echo 'disabled' ~}">
                    <a class="page-link" href="{{ @BASE }}/issues?page={{ (@issues.pos < @issues.count - 1) ? @issues.pos + 1 : @issues.count - 1 }}&amp;{{ @filter_get | esc }}">
                        <span class="sr-only">{{ @dict.go_next }}</span>
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </check>
        <include href="blocks/footer.html" />
    </div>
    <script src="{{ @BASE }}/js/bootstrap-datepicker.js"></script>
    <check if="{{ @user_obj->date_picker()->js && @user_obj->date_picker()->language != 'en-US' }}">
        <script src="{{ @BASE }}/js/bootstrap-datepicker.{{ @user_obj->date_picker()->language }}.js"></script>
    </check>
    <script>var datepickerLanguage='{{ @user_obj->date_picker()->language }}';</script>
</body>
</html>
