<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body>
<set fullwidth="{{ true }}" />
<include href="blocks/navbar.html" />
<div class="container-fluid">
	<check if="{{ !empty(@GET.deleted) }}">
		<p class="alert alert-success">{{ @dict.deleted_success,@GET.deleted | format }}&ensp;<a href="{{ @site.url }}issues/undelete/{{ @GET.deleted }}">{{ @dict.restore_issue }}</a></p>
	</check>
	<include href="blocks/issue-list.html" />
	<p class="pull-right hidden-xs">
		<span class="text-muted">Showing {{ (@issues.limit * @issues.pos) + 1 }}&ndash;{{ @issues.limit * (@issues.pos + 1) > @issues.total ? @issues.total : @issues.limit * (@issues.pos + 1) }} of {{ @issues.total }}</span>
	</p>
	<check if="{{ @issues.count }}">
		<div class="text-center">
			<ul class="pagination pagination-sm" style="margin: 15px 0;">
				<li {~ if(@issues.pos == 0) echo 'class="disabled"' ~}><a href="{{ @site.url }}issues?page={{ @issues.pos ? @issues.pos - 1 : 0 }}&amp;{{ @filter_get }}">&laquo;</a></li>
				<repeat group="{{ @pages }}" value="{{ @page }}">
					<li {~ if(@page == @issues.pos) echo 'class="active"' ~}><a href="{{ @site.url }}issues?page={{ @page }}&amp;{{ @filter_get }}">{{ @page + 1 }}</a></li>
				</repeat>
				<li {~ if(@issues.pos == @issues.count - 1) echo 'class="disabled"' ~}><a href="{{ @site.url }}issues?page={{ (@issues.pos < @issues.count - 1) ? @issues.pos + 1 : @issues.count - 1 }}&amp;{{ @filter_get }}">&raquo;</a></li>
			</ul>
		</div>
	</check>
	<include href="blocks/footer.html" />
</div>
<script src="{{ @site.url }}minify/js/bulkissues.js"></script>
</body>
</html>
