<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body>
<div class="container">
	<include href="blocks/navbar.html" />
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h3>Select Issue Type</h3>
			<div class="list-group">
				<repeat group="{{ @types }}" value="{{ @type }}">
					<a href="/issues/new/{{ @type.id }}" class="list-group-item">
						<h4 class="list-group-item-heading">{{ @type.name }}</h4>
					</a>
				</repeat>
			</div>
		</div>
	</div>
	<include href="blocks/footer.html" />
</div>
</body>
</html>
