<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body>
<include href="blocks/navbar.html" />
<div class="container">
	<h2>{{ @project.name | esc }} <small>#{{ @project.id }}</small></h2>
	<h3 class="h4"><i>{{ @dict.project_overview }}</i></h3>
	<set percentComplete="{{ round(@stats.complete / @stats.total * 100) }}" />
	<div class="progress" style="max-width: 400px; margin: 15px 0 0;">
		<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{ @percentComplete }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ @percentComplete }}%;">
			<span class="sr-only">{{ @dict.n_complete, @percentComplete.'%' | format }}</span>
		</div>
	</div>
	{{ @dict.n_complete,@stats.complete.'/'.@stats.total | format }}

	<hr>

	<h4>{{ @dict.project_tree }}</h4>
	<div class="table-responsive">
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>{{ @dict.cols.id }}</th>
					<th>{{ @dict.cols.title }}</th>
					<th>{{ @dict.cols.type }}</th>
					<th>{{ @dict.cols.assignee }}</th>
					<th>{{ @dict.cols.author }}</th>
					<th>{{ @dict.cols.priority }}</th>
					<th>{{ @dict.cols.due_date }}</th>
					<th>{{ @dict.cols.sprint }}</th>
					<th>{{ @dict.cols.hours_spent }}</th>
				</tr>
			</thead>
			<tbody>
				{~ @renderTree(@project) ~}
			</tbody>
		</table>
	</div>

	<include href="blocks/footer.html" />
</div>
</body>
</html>
