<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body>
<set fullwidth="{{ true }}" />
<include href="blocks/navbar.html" />
<div class="container-fluid">
	<include href="blocks/issue-list.html" />
	<ul class="pager">
		<check if="{{ !empty(@prev) }}">
			<true>
				<li class="previous"><a href="{{ @BASE }}/issues{{ @prev }}" rel="prev">&larr; {{ @dict.go_previous }}</a></li>
			</true>
			<false>
				<li class="previous disabled"><a href="{{ @BASE }}/javascript:void(0)">&larr; {{ @dict.go_previous }}</a></li>
			</false>
		</check>
		<check if="{{ !empty(@next) }}">
			<true>
				<li class="next"><a href="{{ @BASE }}/issues{{ @next }}" rel="next">{{ @dict.go_next }} &rarr;</a></li>
			</true>
			<false>
				<li class="next disabled"><a href="{{ @BASE }}/javascript:void(0)">{{ @dict.go_next }} &rarr;</a></li>
			</false>
		</check>
	</ul>
	<include href="blocks/footer.html" />
</div>
</body>
</html>
