<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body>
<div class="container-fluid">
	<include href="blocks/navbar.html" />

	<div id="form-edit" style="display: none;">
		<include href="issues/edit-form.html" />
		<hr>
	</div>

	<div id="alert" class="alert alert-success alert-popup alert-popup-center clearfix" style="display: none;">
		<span></span>
		<button type="button" class="close">&times;</button>
	</div>

	<check if="{{ @issue.deleted_date }}">
		<p id="alert" class="alert alert-danger">
			{{ @dict.deleted_notice }}&ensp;
			<a href="issues/undelete/{{ @issue.id }}" class="btn btn-default btn-xs">{{ @dict.restore_issue }}</a>
		</p>
	</check>

	<check if="{{ count(@hierarchy) > 1 }}">
		<ol class="breadcrumb pull-left">
			<repeat group="{{ @hierarchy }}" value="{{ @crumb }}">
				<check if="{{ @crumb.id != @issue.id }}">
					<li class="active">
						<a href="issues/{{ @crumb.id }}">
							{{ @crumb.name }} <small>#{{ @crumb.id }}</small>
						</a>
					</li>
				</check>
			</repeat>
		</ol>
	</check>
	<div class="row">
		<div class="col-lg-12">
			<h3 class="pull-left issue-heading">
				{{ @issue.name }} <small>#{{ @issue.id }}</small>
			</h3>
			<div class="pull-right">
				<check if="{{ !@issue.closed_date }}">
					<true>
						<a id="btn-issue-close" href="issues/close/{{ @issue.id }}" class="btn btn-success btn-xs">
							<span class="glyphicon glyphicon-check"></span>&ensp;{{ @dict.complete }}
						</a>
					</true>
					<false>
						<a id="btn-issue-reopen" href="issues/reopen/{{ @issue.id }}" class="btn btn-warning btn-xs">
							<span class="glyphicon glyphicon-repeat"></span>&ensp;{{ @dict.reopen }}
						</a>
					</false>
				</check>
				<check if="{{ @issue.sprint_id }}">
					<a id="btn-Mark Complete" href="taskboard/{{ @issue.sprint_id }}/all#task_{{ @issue.id }}" target="_blank" class="btn btn-default btn-xs has-tooltip" title="{{ @dict.show_on_taskboard }}">
						<span class="glyphicon glyphicon-list"></span>
					</a>
				</check>
				<a id="btn-copy" href="issues/copy/{{ @issue.id }}" class="btn btn-default btn-xs">
					<span class="glyphicon glyphicon-file"></span>&ensp;{{ @dict.copy }}
				</a>
				<check if="{{ @watching }}">
					<true>
						<button class="btn btn-default btn-xs" onclick="unwatch_issue();" id="watch-btn">
							<span class="glyphicon glyphicon-eye-close"></span>&ensp;{{ @dict.unwatch }}
						</button>
					</true>
					<false>
						<button class="btn btn-default btn-xs" onclick="watch_issue();" id="watch-btn">
							<span class="glyphicon glyphicon-eye-open"></span>&ensp;{{ @dict.watch }}
						</button>
					</false>
				</check>
				<a id="btn-edit" href="issues/edit/{{ @issue.id }}" class="btn btn-default btn-xs">
					<span class="glyphicon glyphicon-pencil"></span>&ensp;Edit
				</a>
				<check if="{{ @user.role == 'admin' }}">
					<a href="issues/delete/{{ @issue.id }}" class="btn btn-danger btn-xs">
						<span class="glyphicon glyphicon-remove"></span>&ensp;Delete
					</a>
				</check>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="col-lg-5">
				<div class="issue-head clearfix">
					<img src="{{ @author->avatar(48) }}" class="profile-picture img-rounded" alt>
					<p class="pull-left">
						<check if="{{ @author.username }}">
							<true>
								<a href="user/{{ @author.username }}" class="has-tooltip" title="Author" data-placement="right">{{ @author.name }}</a>
							</true>
							<false>
								<span class="has-tooltip" title="Author" data-placement="right">{{ @author.name }}</span>
							</false>
						</check>
						<br>{{ date("M j, Y \\a\\t g:ia", $this->utc2local(strtotime(@issue.created_date))) }}
					</p>
				</div>

				<dl class="dl-inline">
					<check if="{{ @issue.sprint_id }}">
						<dt>Sprint</dt>
						<dd><a href="taskboard/{{ @sprint.id }}">{{ @sprint.name }} {{ date('n/j', strtotime(@sprint.start_date)) }}-{{ date('n/j', strtotime(@sprint.end_date)) }}</a></dd>
					</check>

					<dt>Type</dt>
					<dd>{{ @issue.type_name }}</dd>

					<dt>Priority</dt>
					<dd>{{ @issue.priority_name }}</dd>

					<dt>Status</dt>
					<dd>{{ @issue.status_name }}</dd>

					<dt>Assigned to</dt>
					<dd>
						<check if="{{ @owner.id }}">
							<true>
								<check if="{{ @owner.username }}">
									<true>
										<a href="user/{{ @owner.username }}">{{ @owner.name }}</a>
									</true>
									<false>
										{{ @owner.name }}
									</false>
								</check>
							</true>
							<false>
								{{ @dict.not_assigned }}
							</false>
						</check>
					</dd>

					<check if="{{ @issue.repeat_cycle != 'none' }}">
						<dt>Repeat Cycle</dt>
						<dd>{{ ucfirst(@issue.repeat_cycle) }}</dd>
					</check>

					<check if="{{ !empty(@issue.hours_spent) }}">
						<dt>Spent Hours</dt>
						<dd>{{ @issue.hours_spent}}</dd>
					</check>

					<check if="{{ !empty(@issue.hours_total) }}">
						<dt>Planned Hours</dt>
						<dd>{{ @issue.hours_total ?: 0 }}</dd>

						<dt>Remaining Hours</dt>
						<dd>{{ @issue.hours_remaining ?: 0 }}</dd>
					</check>

					<check if="{{ strtotime(@issue.due_date) }}">
						<dt>Due Date</dt>
						<dd>{{ date("D, M j, Y", strtotime(@issue.due_date)) }}</dd>
					</check>
				</dl>

				<dl>
					<dt>Description:</dt>
					<dd class="tex">{{ $this->parseTextile(@issue.description) | raw }}</dd>
				</dl>

				<hr class="hidden-lg">
			</div>

			<div class="col-lg-7">
				<h4>Files</h4>
				<check if="{{ !empty(@files) }}">
					<ul class="list-inline file-list">
						<repeat group="{{ @files }}" value="{{ @file }}">
							<li class="has-popover" id="f-{{ @file.id }}" data-id="{{ @file.id }}" data-id="{{ @file.id }}" data-trigger="hover" data-html="true" data-content="<p>Uploaded by: {{ @file.user_name }}</p>{{ @file.filename }}<br>{{ date('M j, Y \a\t g:ia', $this->utc2local(strtotime(@file.created_date))) }}<br>{{ \Helper\View::instance()->formatFilesize(@file.filesize) }}">
								<a class="file-attachment" href="files/{{ @file.id }}/{{ @file.filename }}" data-mime="{{ @file.content_type }}" target="_blank">
									<img class src="files/thumb/96-{{ @file.id }}.png" /><br />
									{{ @file.filename }}
								</a>
								<button class="btn btn-xs btn-danger delete" title="Delete File">&times;</button>
							</li>
						</repeat>
					</ul>
					<p class="clear"></p>
				</check>
				<p>
					<a class="btn btn-default btn-sm" data-toggle="modal" href="#" data-target="#upload">Upload</a>
				</p>
				<br>
				<ul class="nav nav-tabs">
					<li class="active"><a href="#comments" data-toggle="tab">{{ @dict.comments }}&ensp;<span class="badge" id="comment_badge">{{ count(@comments) }}</span></a></li>
					<li><a href="#history" data-toggle="tab" id="tab_history">{{ @dict.history }}</a></li>
					<li><a href="#watchers" data-toggle="tab" id="tab_watchers">{{ @dict.watchers }}</a></li>
					<check if="{{ @issue_type.project == @type.id }}">
						<true>
							<li><a href="#related" data-toggle="tab" id="tab_related">{{ @dict.child_tasks }}</a></li>
						</true>
						<false>
							<li><a href="#related" data-toggle="tab" id="tab_related">{{ @dict.related_tasks }}</a></li>
						</false>
					</check>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade in active" id="comments">
						<div class="comments" id="comments">
							<form action="issues/{{ @issue.id }}" method="POST" id="comment_form" role="form" class="form-horizontal">
								<input type="hidden" name="action" value="comment">
								<div class="form-group">
									<div class="col-md-12">
										<textarea class="form-control input-sm" id="comment_textarea" name="text" type="text" placeholder="{{ @dict.write_a_comment }}" autocomplete="off"></textarea>
									</div>
								</div>
								<div class="form-group">
									<div class="col-md-12 text-right">
										<button type="submit" class="btn btn-primary btn-sm">{{ @dict.save_comment }}</button>
									</div>
								</div>
							</form>
							<repeat group="{{ @comments }}" value="{{ @comment }}">
								<div class="media" id="c-{{ @comment.id }}">
									<a class="pull-left" href="user/{{ @comment.user_username }}">
										<img class="profile-picture media-object img-rounded" src="avatar/48-{{ @comment.user_id }}.png" alt>
									</a>
									<div class="media-body">
										<p class="media-heading"><a href="user/{{ @comment.user_username }}">{{ @comment.user_name }}</a></p>
										<div class="tex">{{ $this->parseTextile(@comment.text) | raw }}</div>
										<check if="{{ @comment.file_id }}">
											<check if="{{ @comment.file_deleted_date }}">
												<true>
													<div><b>{{ @dict.attached_file }}:</b> <span style="text-decoration: line-through;">{{@comment.file_filename}}</span> <span class="text-danger">[{{ @dict.deleted }}]</span></div>
												</true>
												<false>
													<div><b>{{ @dict.attached_file }}:</b> <a class="file-attachment" data-mime="{{ @comment.file_content_type }}" href="files/{{ @comment.file_id }}/{{ @comment.file_filename }}" target="_blank">{{@comment.file_filename}}</a></div>
												</false>
											</check>
										</check>
										<p class="text-muted"><small>{{ date("D, M j, Y \\a\\t g:ia", $this->utc2local(strtotime(@comment.created_date))) }}</small></p>
									</div>
								</div>
							</repeat>
						</div>
					</div>
					<div class="tab-pane fade" id="history">
						<div class="col-md-4 col-md-offset-4">
							<div class="progress progress-striped active">
								<div class="progress-bar" style="width: 100%"></div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="watchers">
						<div class="col-md-4 col-md-offset-4">
							<div class="progress progress-striped active">
								<div class="progress-bar" style="width: 100%"></div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="related">
						<div class="col-md-4 col-md-offset-4">
							<div class="progress progress-striped active">
								<div class="progress-bar" style="width: 100%"></div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<include href="blocks/footer.html" />
</div>

<form class="modal fade in" id="upload" method="post" enctype="multipart/form-data" action="issues/upload">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ @dict.close }}</span></button>
				<h4 class="modal-title">{{ @dict.upload_a_file }}</h4>
			</div>
			<div class="modal-body">
				<input type="hidden" name="issue_id" value="{{ @issue.id }}" />
				<div class="form-group">
					<input type="file" name="attachment" size="chars">
				</div>
				<textarea class="form-control input-sm" id="file_comment_textarea" name="text" type="text" placeholder="Write a comment&hellip;"></textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">{{ @dict.cancel }}</button>
				<button type="submit" class="btn btn-sm btn-primary">{{ @dict.upload }}</button>
			</div>
		</div>
	</div>
</form>

<div class="modal fade" id="modal-copy" tabindex="-1" role="dialog" aria-labelledby="modal-copy-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ @dict.close }}</span></button>
				<h4 class="modal-title" id="modal-copy-label">{{ @dict.copy_issue }}</h4>
			</div>
			<div class="modal-body">
				<div id="pre-copy">{{ @dict.copy_issue_details }}</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">{{ @dict.cancel }}</button>
				<a id="btn-copy-confirm" class="btn btn-primary btn-sm" href="/issues/copy/{{ @issue.id }}">{{ @dict.copy_issue }}</a>
			</div>
		</div>
	</div>
</div>

<!-- <div class="modal fade" id="modal-file" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ @dict.close }}</span></button>
				<h4 class="modal-title"></h4>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<a class="btn btn-default btn-sm" href="#" target="_blank">Download</a>
				<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">{{ @dict.close }}</button>
			</div>
		</div>
	</div>
</div> -->

<script src="minify/js/bootstrap-datepicker.js,stupidtable.min.js"></script>
<script type="text/javascript">
$(function() {

	// Handle copy modal
	$("#btn-copy").click(function(e) {
		$("#modal-copy").modal("show");
		e.preventDefault();
	});
	$("#btn-copy-confirm").click(function(e) {
		$(this).prop('disabled', true)
			.addClass('disabled')
			.html('{{ @dict.loading }}');
	});

	// AJAX comment submission
	$('#comment_form').submit(function(e) {
		var $this = $(this);
		if($this.children('textarea').val() !== '') {
			$.post($this.attr('action'), $this.serialize(), function(data) {
				if(data.error) {
					return;
				}
				// Append the new comment to the list
				$('#comment_form')
					.prop('disabled', false)
					.after(
						'<div class="media" id="c-' + data.id + '">' +
							'<a class="pull-left" href="user/' + data.user_username + '">' +
								'<img src="{{ @user_obj->avatar(48) }}" class="media-object profile-picture img-rounded" alt>' +
							'</a>' +
							'<div class="media-body">' +
								'<p class="media-heading"><a href="user/' + data.user_username + '">' + data.user_name + '</a></p>' +
								'<p class="tex">' + data.text + '</p>' +
								'<p class="text-muted"><small>' + data.date_formatted + '</small></p>' +
							'</div>' +
						'</div>');
				$('#comment_textarea').val('').html('');
				$('#comment_badge').text(parseInt($('#comment_badge').text()) + 1);
			}, 'json');

			$this.prop('disabled', true);
		}
		e.preventDefault();
	});

	// Load history, watchers, and related issues
	$.get('issues/{{ @issue.id }}/history', {}, function(data) {
		$('#history').empty().append(data.html);
		$('#tab_history').html('{{ @dict.history }}&ensp;<span class="badge">' + data.total + '</span>');
	}, 'json').error(function() {
		$('#history').empty().append($('<p />').addClass('text-center text-danger').text('{{ @dict.error.loading_issue_history }}'));
	});
	$.get('issues/{{ @issue.id }}/watchers', {}, function(data) {
		$('#watchers').empty().append(data.html);
		$('#tab_watchers').html('{{ @dict.watchers }}&ensp;<span class="badge" id="watchers-badge">' + data.total + '</span>');

		// Add/remove watchers from tab
		$('#watchers-list').on('click', 'a.delete', function(e) {
			$li = $(this).parents('li');
			$.post('issues/{{ @issue.id }}', {
				action: 'remove_watcher',
				user_id: $li.data('user-id')
			});
			$li.remove();

			$('#watchers-badge').text(parseInt($('#watchers-badge').text()) - 1);

			e.preventDefault();
		});
		$('#add-watcher').submit(function(e) {
			$this = $(this);
			$.post('issues/{{ @issue.id }}', $this.serialize());

			$select = $this.find('select');
			$('<li />')
				.data('user-id', $select.val())
				.html('<a href="#" class="delete text-danger"><span class="glyphicon glyphicon-remove"></span></a>&ensp;' + $select.children('option:selected').text())
				.appendTo('#watchers-list');

			$('#watchers-badge').text(parseInt($('#watchers-badge').text()) + 1);

			e.preventDefault();
		});

	}, 'json').error(function() {
		$('#watchers').empty().append($('<p />').addClass('text-center text-danger').text('{{ @dict.error.loading_issue_watchers }}'));
	});
	$.get('issues/{{ @issue.id }}/related', {}, function(data) {
		$('#related').empty().append(data.html);
		$('#tab_related').html($('#tab_related').text() + '&ensp;<span class="badge">' + data.total + '</span>');
		$('#related table').stupidtable();
	}, 'json').error(function() {
		$('#related').empty().append($('<p />').addClass('text-center text-danger').text('{{ @dict.error.loading_related_issues }}'));
	});

	// Handle inline edit form
	$("#btn-edit, #form-edit .close, #form-edit .btn-cancel").click(function(e) {
		$("#form-edit").slideToggle("fast");
		e.preventDefault();
	});

	// Due date picker
	var nowTemp = new Date();
	var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
	$('#due_date').datepicker({
		format: 'yyyy-mm-dd',
		/*onRender: function(date) {
			return date.valueOf() < now.valueOf() ? 'disabled' : '';
		}*/
	});

	// Handle file deletion
	$(".file-list").on("click", ".delete", function(e) {
		var $li = $(this).parents("li");
		$li.fadeTo(100, 0.5).popover("hide");
		$.post("issues/file/delete", {id: $li.data("id")}, function(data) {
			$("#alert span").html('File deleted. <a href="javascript:void(0);" onclick="restoreFile(' + data.id + ')">Undo</a>');
			$("#alert").show();
			$("li[data-id='" + data.id + "']").remove();
		}, "json");
	});

	// Handle alert hide
	$("#alert .close").click(function(e) {
		$("#alert span").empty();
		$("#alert").hide();
	});

	// Trigger modal on plain text attachments
	/*$(".file-attachment").click(function(e) {
		$this = $(this);
		if($this.data("mime") == "text/plain") {
			console.log($this[0]);
			$.get($this.attr("href"), function(data) {
				$("#modal-file .modal-body").empty();
				$("<pre />").text(data).appendTo("#modal-file .modal-body");
			});
			$("#modal-file .modal-body").html("{{ @dict.loading }}");
			$("#modal-file .modal-title").text($this.text());
			$("#modal-file .modal-footer a").attr("href", $this.attr("href"));
			$("#modal-file").modal("show");
			e.preventDefault();
		}
	});
	$("#modal-file .modal-footer a").click(function(e) {
		$(this).parents(".modal").modal("hide");
	});*/

});

function restoreFile(file_id) {
	$.post("issues/file/undelete", {id: file_id}, function(data) {
		window.location = window.location;
	});
}

function watch_issue() {
	$.post('issues/{{ @issue.id }}', {action: 'add_watcher', user_id: '{{ @user.id }}'});
	$('#watch-btn').attr('onclick','unwatch_issue()').html('<span class="glyphicon glyphicon-eye-close"></span>&ensp;{{ @dict.unwatch }}');
}
function unwatch_issue() {
	$.post('issues/{{ @issue.id }}', {action: 'remove_watcher', user_id: '{{ @user.id }}'});
	$('#watch-btn').attr('onclick','watch_issue()').html('<span class="glyphicon glyphicon-eye-open"></span>&ensp;{{ @dict.watch }}');
}
</script>
</body>
</html>
