<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body>
<div class="container">
	<include href="blocks/navbar.html" />
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading has-buttons clearfix">
					<check if="{{ count(@hierarchy) > 1 }}">
						<ol class="breadcrumb panel-title pull-left">
							<repeat group="{{ @hierarchy }}" value="{{ @crumb }}">
								<check if="{{ @crumb.id == @issue.id }}">
									<true>
										<li class="active">{{ @crumb.name }} <small>#{{ @issue.id }}</small></li>
									</true>
									<false>
										<li><a href="/issues/{{ @crumb.id }}">{{ @crumb.name }}</a></li>
									</false>
								</check>
							</repeat>
						</ol>
					</check>
					<!-- <h3 class="panel-title pull-left">
						{{ @issue.name }} <small>#{{ @issue.id }}</small>
					</h3> -->
					<div class="pull-right">
						<check if="{{ @watching }}">
							<true>
								<button class="btn btn-default btn-xs">
									<span class="glyphicon glyphicon-eye-closed"></span>&ensp;Unwatch
								</button>
							</true>
							<false>
								<button class="btn btn-default btn-xs">
									<span class="glyphicon glyphicon-eye-open"></span>&ensp;Watch
								</button>
							</false>
						</check>
						<a href="/issues/edit/{{ @issue.id }}" class="btn btn-default btn-xs">
							<span class="glyphicon glyphicon-pencil"></span>&ensp;Edit
						</a>
						<check if="{{ @user.role == 'admin' }}">
							<a href="/issues/delete/{{ @issue.id }}" class="btn btn-danger btn-xs">
								<span class="glyphicon glyphicon-remove"></span>&ensp;Delete
							</a>
						</check>
					</div>
				</div>
				<div class="panel-body">
					<div class="issue-head clearfix">
						<img src="{{ h(gravatar(@author.email, 48)) }}" class="profile-picture img-rounded" alt>
						<p class="pull-left">
							<a href="/user/{{ @author.username }}" class="has-tooltip" title="Author" data-placement="right">{{ @author.name }}</a><br>
							{{ date("M j, Y \\a\\t g:ia", strtotime(@issue.created_date)) }}
						</p>
					</div>

					<p>
						<strong>Assigned to:</strong> <a href="/user/{{ @owner.username }}">{{ @owner.name }}</a>
						<check if="{{ strtotime(@issue.due_date) > time() }}">
							<br><strong>Due Date:</strong> {{ date("D, M j, Y", strtotime(@issue.due_date)) }}
						</check>
						<check if="{{ strtotime(@issue.due_date) && strtotime(@issue.due_date) <= time() }}">
							<br><strong>Due Date:</strong> <span class="text-danger">{{ date("D, M j, Y", strtotime(@issue.due_date)) }}</span>
						</check>
					</p>
					<p>{{ @issue.description }}</p>

					<hr>

					<h4>Files</h4>
					<ul class="list-inline file-list">
						<li>
							<a href="Filename.jpg" title="Filename">
								<placehold width="72" height="72" /><br />
								Filename
							</a>
						</li>
						<li>
							<a href="Filename.jpg" title="Long Filename">
								<placehold width="72" height="72" /><br />
								Long Filename
							</a>
						</li>
						<li>
							<a href="Filename.jpg" title="Really Long Filename">
								<placehold width="72" height="72" /><br />
								Really Long Filename
							</a>
						</li>
						<li>
							<a href="Filename.jpg" title="Filename">
								<placehold width="72" height="72" /><br />
								Filename
							</a>
						</li>
					</ul>
					<p class="clear"></p>
					<form class="form-inline" method="post" enctype="multipart/form-data" action="/issues/upload">
						<input type="hidden" name="issue_id" value="{{ @issue.id }}" />
						<div class="form-group">
							<input type="file" name="attachment" size="chars">
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-default btn-sm" value="Upload" />
						</div>
					</form>

					<br>

					<ul class="nav nav-tabs">
						<li class="active"><a href="#comments" data-toggle="tab">Comments</a></li>
						<li><a href="#history" data-toggle="tab">History</a></li>
						<check if="{{ @type.name == 'Project' }}">
							<true>
								<li><a href="#related" data-toggle="tab">Child Tasks</a></li>
							</true>
							<false>
								<li><a href="#related" data-toggle="tab">Related Tasks</a></li>
							</false>
						</check>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="comments">
							<div class="comments" id="comments">
								<repeat group="{{ @comments.subset }}" value="{{ @comment }}">
									<div class="comment clearfix">
										<img src="{{ h(gravatar(@comment.user_email, 48)) }}" class="profile-picture img-rounded" alt>
										<div class="pull-left">
											<p><strong><a href="/user/{{ @comment.user_username }}">{{ @comment.user_name }}</a></strong></p>
											<p>{{ @comment.text }}</p>
											<p class="text-muted"><small>{{ date("D, M j, Y \\a\\t g:ia", strtotime(@comment.created_date)) }}</small></p>
										</div>
									</div>
								</repeat>
								<form action="/issues/{{ @issue.id }}" method="POST" id="comment_form" role="form" class="form-horizontal">
									<input type="hidden" name="action" value="comment">
									<div class="form-group">
										<div class="col-md-12">
											<textarea class="form-control input-sm" id="comment_textarea" name="text" type="text" placeholder="Write a comment&hellip;"></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12 text-right">
											<button type="submit" class="btn btn-primary btn-sm">Save Comment</button>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="tab-pane" id="history">
							<div class="col-md-4 col-md-offset-4">
								<div class="progress progress-striped active">
									<div class="progress-bar" style="width: 100%"></div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="related">
							<div class="col-md-4 col-md-offset-4">
								<div class="progress progress-striped active">
									<div class="progress-bar" style="width: 100%"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<include href="blocks/footer.html" />
</div>
<script type="text/javascript">
$(function() {

	// AJAX comment submission
	$('#comment_form').submit(function(e) {
		var $this = $(this);

		$.post($this.attr('action'), $this.serialize(), function(data) {
			// Append the new comment to the list
			$('#comment_form')
					.prop('disabled', false)
					.before(
'<div class="comment clearfix">' +
'<img src="//gravatar.com/avatar/' + data.user_email_md5 + '?s=48" class="pull-left profile-picture img-rounded" alt>' +
'<div class="pull-left">' +
'<p><strong><a href="/user/' + data.user_username + '">' + data.user_name + '</a></strong></p>' +
'<p>' + data.text + '</p>' +
'<p class="text-muted"><small>' + data.date_formatted + '</small></p>' +
'</div>' +
'</div>');
			$('#comment_textarea').val('');
		}, 'json');

		$this.prop('disabled', true);

		e.preventDefault();
	});

	// Submit from textarea if Ctrl+Enter or Shift+Enter are pressed
	$('body').on('keypress', 'textarea', function(e) {
		if(e.keyCode == 13 && (e.target.type != 'textarea' || (e.target.type == 'textarea' && (e.ctrlKey || e.shiftKey)))) {
			$(this).parents('form')[0].submit();
			e.preventDefault();
		}
	});

	// Load history and related issues
	$.get('/issues/{{ @issue.id }}/history', {}, function(data) {
		$('#history').empty().append(data);
	}, 'html').error(function() {
		$('#history').empty().append($('<p />').addClass('text-center text-danger').text('Error loading issue history.'));
	});
	$.get('/issues/{{ @issue.id }}/related', {}, function(data) {
		$('#related').empty().append(data);
	}, 'html').error(function() {
		$('#history').empty().append($('<p />').addClass('text-center text-danger').text('Error loading related issues.'));
	});

});
</script>
</body>
</html>
