<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body>
<set fullwidth="{{ true }}" />
<include href="blocks/navbar.html" />
<div class="container-fluid">

	<div id="form-edit" style="display: none;">
		<include href="issues/edit-form.html" />
		<hr>
	</div>

	<div id="alert" class="alert alert-success alert-popup alert-popup-center clearfix" style="display: none;">
		<span></span>
		<button type="button" class="close">&times;</button>
	</div>

	<check if="{{ @issue.deleted_date }}">
		<p id="alert" class="alert alert-danger">
			{{ @dict.deleted_notice }}&ensp;
			<a href="{{ @site.url }}issues/undelete/{{ @issue.id }}" class="btn btn-default btn-xs">{{ @dict.restore_issue }}</a>
		</p>
	</check>

	<check if="{{ count(@ancestors) > 1 }}">
		<div class="clearfix">
			<ol class="breadcrumb pull-left">
				<repeat group="{{ @ancestors }}" value="{{ @crumb }}">
					<check if="{{ @crumb.id != @issue.id }}">
						<li class="active">
							<a href="{{ @site.url }}issues/{{ @crumb.id }}">
								{{ @crumb.name }} <small>#{{ @crumb.id }}</small>
							</a>
						</li>
					</check>
				</repeat>
			</ol>
		</div>
	</check>
	<div class="clearfix">
		<h3 class="pull-left issue-heading">
			<a href="{{ @BASE }}/issues/{{ @issue.id }}" class="nolink">{{ @issue.name | esc }}</a> <small>#{{ @issue.id }}</small>
		</h3>
		<div class="pull-right">
			<check if="{{ @issue.status_closed }}">
				<false>
					<a id="btn-issue-close" href="{{ @site.url }}issues/close/{{ @issue.id }}" class="btn btn-success btn-xs">
						<span class="glyphicon glyphicon-check"></span>&ensp;{{ @dict.complete }}
					</a>
				</false>
				<true>
					<a id="btn-issue-reopen" href="{{ @site.url }}issues/reopen/{{ @issue.id }}" class="btn btn-warning btn-xs">
						<span class="glyphicon glyphicon-repeat"></span>&ensp;{{ @dict.reopen }}
					</a>
				</true>
			</check>
			<a id="btn-copy" href="{{ @site.url }}issues/copy/{{ @issue.id }}" class="btn btn-default btn-xs">
				<span class="glyphicon glyphicon-file"></span>&ensp;{{ @dict.copy }}
			</a>
			<check if="{{ @watching }}">
				<true>
					<button class="btn btn-default btn-xs" onclick="unwatch_issue();" id="watch-btn">
						<span class="glyphicon glyphicon-eye-close"></span>&ensp;{{ @dict.unwatch }}
					</button>
				</true>
				<false>
					<button class="btn btn-default btn-xs" onclick="watch_issue();" id="watch-btn">
						<span class="glyphicon glyphicon-eye-open"></span>&ensp;{{ @dict.watch }}
					</button>
				</false>
			</check>
			<a id="btn-edit" href="{{ @site.url }}issues/edit/{{ @issue.id }}" class="btn btn-default btn-xs">
				<span class="glyphicon glyphicon-pencil"></span>&ensp;{{ @dict.edit }}
			</a>
			<check if="{{ @user.role == 'admin' || @user.rank >= 3 || @user.id == @issue.author_id }}">
				<a href="{{ @site.url }}issues/delete/{{ @issue.id }}" class="btn btn-danger btn-xs">
					<span class="glyphicon glyphicon-remove"></span>&ensp;{{ @dict.delete }}
				</a>
			</check>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-5">
			<div class="issue-head clearfix">
				<img src="{{ @author->avatar(48) }}" class="profile-picture img-rounded" alt>
				<p class="pull-left">
					<check if="{{ @author.username }}">
						<true>
							<a href="{{ @site.url }}user/{{ @author.username }}" class="has-tooltip" title="{{ @dict.cols.author }}" data-placement="right">{{ @author.name | esc }}</a>
						</true>
						<false>
							<span class="has-tooltip" title="{{ @dict.cols.author }}" data-placement="right">{{ @author.name | esc }}</span>
						</false>
					</check>
					<br>{{ date("M j, Y \\a\\t g:ia", $this->utc2local(strtotime(@issue.created_date))) }}
				</p>
			</div>

			<dl class="dl-inline">
				<check if="{{ @issue.sprint_id }}">
					<dt>{{ @dict.cols.sprint }}</dt>
					<dd><a href="{{ @site.url }}taskboard/{{ @sprint.id }}">{{ @sprint.name | esc }} {{ date('n/j', strtotime(@sprint.start_date)) }}-{{ date('n/j', strtotime(@sprint.end_date)) }}</a></dd>
				</check>

				<dt>{{ @dict.cols.type }}</dt>
				<dd>
					{{ @issue.type_name }}
					<check if="{{ @issue.type_id == @issue_type.project }}">
						&ndash; <a href="{{ @site.url }}issues/project/{{ @issue.id }}">{{ @dict.project_overview }}</a>
					</check>
				</dd>

				<dt>{{ @dict.cols.priority }}</dt>
				<dd>{{ @issue.priority_name }}</dd>

				<dt>{{ @dict.cols.status }}</dt>
				<dd>{{ @issue.status_name }}</dd>

				<dt>{{ @dict.cols.assignee }}</dt>
				<dd>
					<check if="{{ @owner.id }}">
						<true>
							<check if="{{ @owner.username }}">
								<true>
									<a href="{{ @site.url }}user/{{ @owner.username }}">{{ @owner.name | esc }}</a>
								</true>
								<false>
									{{ @owner.name | esc }}
								</false>
							</check>
						</true>
						<false>
							{{ @dict.not_assigned }}
						</false>
					</check>
				</dd>

				<check if="{{ @issue.repeat_cycle && @issue.repeat_cycle != 'none' }}">
					<dt>{{ @dict.cols.repeat_cycle }}</dt>
					<dd>{{ ucfirst(@issue.repeat_cycle) }}</dd>
				</check>

				<check if="{{ !empty(@issue.hours_spent) }}">
					<dt>{{ @dict.cols.total_spent_hours }}</dt>
					<dd>{{ @issue.hours_spent}}</dd>
				</check>

				<check if="{{ !empty(@issue.hours_total) }}">
					<dt>{{ @dict.cols.planned_hours }}</dt>
					<dd>{{ @issue.hours_total ?: 0 }}</dd>

					<dt>{{ @dict.cols.remaining_hours }}</dt>
					<dd>{{ @issue.hours_remaining ?: 0 }}</dd>
				</check>

				<check if="{{ strtotime(@issue.start_date) }}">
					<dt>{{ @dict.cols.start_date }}</dt>
					<dd>{{ date("D, M j, Y", strtotime(@issue.start_date)) }}</dd>
				</check>

				<check if="{{ @issue.due_date && strtotime(@issue.due_date) }}">
					<dt>{{ @dict.cols.due_date }}</dt>
					<dd>{{ date("D, M j, Y", strtotime(@issue.due_date)) }}</dd>
				</check>
			</dl>

			<dl>
				<dt>{{ @dict.cols.description }}:</dt>
				<dd class="tex">{{ $this->parseText(@issue.description) }}</dd>
			</dl>

			<hr class="hidden-lg">
		</div>

		<div class="col-lg-7">
			<ul class="nav nav-tabs" role="tablist">
				<li class="disabled"><a>{{ @dict.files }}</a></li>
				<li class="active"><a href="#files-tiles" data-toggle="tab"><span class="glyphicon glyphicon-th-large"></span></a></li>
				<li><a href="#files-table" data-toggle="tab"><span class="glyphicon glyphicon-list"></span></a></li>
			</ul>
			<div class="tab-content">
				<check if="{{ !empty(@files) }}">
					<div class="tab-pane fade in active" id="files-tiles">
						<ul class="list-inline file-list">
							<repeat group="{{ @files }}" value="{{ @file }}">
								<li class="has-popover" id="f-{{ @file.id }}" data-id="{{ @file.id }}" data-id="{{ @file.id }}" data-trigger="hover" data-html="true" data-content="<p>Uploaded by: {{ @file.user_name | esc }}</p>{{ @file.filename | esc }}<br>{{ date('M j, Y \a\t g:ia', $this->utc2local(strtotime(@file.created_date))) }}<br>{{ @this->formatFilesize(@file.filesize) }}">
									<a class="file-attachment" href="{{ @site.url }}files/{{ @file.id }}/{{ @file.filename | esc }}" data-mime="{{ @file.content_type }}" target="_blank">
										<img class src="{{ @site.url }}files/thumb/96-{{ @file.id }}.png" /><br />
										{{ @file.filename | esc }}
									</a>
									<button class="btn btn-xs btn-danger delete" title="{{ @dict.delete }}">&times;</button>
								</li>
							</repeat>
						</ul>
					</div>
					<div class="tab-pane fade" id="files-table">
						<table class="table table-striped table-responsive table-condensed file-list">
							<thead>
								<th>{{ @dict.cols.id }}</th>
								<th>{{ @dict.file_name }}</th>
								<th>{{ @dict.uploaded_by }}</th>
								<th>{{ @dict.upload_date }}</th>
								<th>{{ @dict.file_size }}</th>
								<th></th>
							</thead>
							<tbody>
								<repeat group="{{ @files }}" value="{{ @file }}">
									<tr id="ft-{{ @file.id }}" data-id="{{ @file.id }}">
										<td>{{ @file.id }}</td>
										<td><a class="file-attachment" href="{{ @site.url }}files/{{ @file.id }}/{{ @file.filename }}" data-mime="{{ @file.content_type }}" target="_blank">{{ @file.filename | esc }}</a></td>
										<td>{{ @file.user_name | esc }}</td>
										<td>{{ date('M j, Y \a\t g:ia', $this->utc2local(strtotime(@file.created_date))) }}</td>
										<td>{{ @this->formatFilesize(@file.filesize) }}</td>
										<td><button class="btn btn-xs btn-danger delete" title="{{ @dict.delete }}">&times;</button></td>
									</tr>
								</repeat>
							</tbody>
						</table>
					</div>
					<p class="clear"></p>
				</check>
			</div>
			<p>
				<a class="btn btn-default btn-sm" data-toggle="modal" href="#" data-target="#upload">{{ @dict.upload }}</a>
			</p>
			<br>
			<ul class="nav nav-tabs">
				<li class="active"><a href="#comments" data-toggle="tab">{{ @dict.comments }}&ensp;<span class="badge" id="comment_badge">{{ count(@comments) }}</span></a></li>
				<li><a href="#history" data-toggle="tab" id="tab_history">{{ @dict.history }}</a></li>
				<li><a href="#watchers" data-toggle="tab" id="tab_watchers">{{ @dict.watchers }}</a></li>
				<check if="{{ @issue_type.project == @type.id }}">
					<true>
						<li><a href="#related" data-toggle="tab" id="tab_related">{{ @dict.child_tasks }}</a></li>
					</true>
					<false>
						<li><a href="#related" data-toggle="tab" id="tab_related">{{ @dict.related_tasks }}</a></li>
					</false>
				</check>
				<li><a href="#dependencies" data-toggle="tab" id="tab_dependencies">{{ @dict.dependencies }}&ensp;<span class="badge" id="dependencies_badge"></span></a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active" id="comments">
					<div class="comments">
						<form action="{{ @site.url }}issues/{{ @issue.id }}" method="POST" id="comment_form" role="form" class="form-horizontal">
							<input type="hidden" name="action" value="comment">
							<div class="form-group">
								<div class="col-md-12">
									<textarea class="form-control input-sm" id="comment_textarea" name="text" type="text" placeholder="{{ @dict.write_a_comment }}" autocomplete="off"></textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12 text-right">
									<button type="submit" class="btn btn-primary btn-sm">{{ @dict.save_comment }}</button>
								</div>
							</div>
						</form>
						<repeat group="{{ @comments }}" value="{{ @comment }}">
							<div class="media" id="c-{{ @comment.id }}" data-id="{{ @comment.id }}">
								<a class="pull-left" href="{{ @site.url }}user/{{ @comment.user_username }}">
									<img class="profile-picture media-object img-rounded" src="{{ @site.url }}avatar/48-{{ @comment.user_id }}.png" alt>
								</a>
								<div class="media-body">
									<p class="media-heading clearfix">
										<a href="{{ @site.url }}user/{{ @comment.user_username }}">{{ @comment.user_name }}</a>
										<check if="{{ @user.role == 'admin' || @user.rank >= 3 }}">
											<a class="comment-delete" title="{{ @dict.delete }}"><span class="close">&times;</span></a>
										</check>
									</p>
									<div class="tex">{{ $this->parseText(@comment.text, array('hashtags' => false)) }}</div>
									<check if="{{ @comment.file_id }}">
										<check if="{{ @comment.file_deleted_date }}">
											<true>
												<div><b>{{ @dict.attached_file }}:</b> <span style="text-decoration: line-through;">{{ @comment.file_filename | esc }}</span> <span class="text-danger">[{{ @dict.deleted }}]</span></div>
											</true>
											<false>
												<div><b>{{ @dict.attached_file }}:</b> <a class="file-attachment" data-mime="{{ @comment.file_content_type }}" href="{{ @site.url }}files/{{ @comment.file_id }}/{{ @comment.file_filename | esc }}" target="_blank">{{ @comment.file_filename | esc }}</a></div>
											</false>
										</check>
									</check>
									<p class="text-muted">
										<small>{{ date("D, M j, Y \\a\\t g:ia", $this->utc2local(strtotime(@comment.created_date))) }}</small>
									</p>
								</div>
							</div>
						</repeat>
					</div>
				</div>
				<div class="tab-pane fade" id="history">
					<div class="col-md-4 col-md-offset-4">
						<div class="progress progress-striped active">
							<div class="progress-bar" style="width: 100%"></div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="watchers">
					<div class="col-md-4 col-md-offset-4">
						<div class="progress progress-striped active">
							<div class="progress-bar" style="width: 100%"></div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="related">
					<div class="col-md-4 col-md-offset-4">
						<div class="progress progress-striped active">
							<div class="progress-bar" style="width: 100%"></div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="dependencies">
					<div class="col-md-4 col-md-offset-4">
						<div class="progress progress-striped active">
							<div class="progress-bar" style="width: 100%"></div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<include href="blocks/footer.html" />
</div>

<form class="modal fade in" id="upload" method="post" enctype="multipart/form-data" action="{{ @site.url }}issues/upload">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ @dict.close }}</span></button>
				<h4 class="modal-title">{{ @dict.upload_a_file }}</h4>
			</div>
			<div class="modal-body">
				<input type="hidden" name="issue_id" value="{{ @issue.id }}" />
				<div class="form-group">
					<input type="file" name="attachment" size="chars">
				</div>
				<textarea class="form-control input-sm" id="file_comment_textarea" name="text" type="text" placeholder="{{ @dict.write_a_comment }}"></textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">{{ @dict.cancel }}</button>
				<button type="submit" class="btn btn-sm btn-primary">{{ @dict.upload }}</button>
			</div>
		</div>
	</div>
</form>

<div class="modal fade" id="modal-copy" tabindex="-1" role="dialog" aria-labelledby="modal-copy-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ @dict.close }}</span></button>
				<h4 class="modal-title" id="modal-copy-label">{{ @dict.copy_issue }}</h4>
			</div>
			<div class="modal-body">
				<div id="pre-copy">{{ @dict.copy_issue_details }}</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">{{ @dict.cancel }}</button>
				<a id="btn-copy-confirm" class="btn btn-primary btn-sm" href="{{ @site.url }}issues/copy/{{ @issue.id }}">{{ @dict.copy_issue }}</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function() {

	// Handle copy modal
	$("#btn-copy").click(function(e) {
		$("#modal-copy").modal("show");
		e.preventDefault();
	});
	$("#btn-copy-confirm").click(function(e) {
		$(this).prop('disabled', true)
			.addClass('disabled')
			.html('{{ @dict.loading }}');
	});

	// AJAX comment submission
	$('#comment_form').submit(function(e) {
		var $this = $(this);
		if($this.children('textarea').val() !== '') {
			$('#comment_form .btn').prop('disabled', true);
			$.post($this.attr('action'), $this.serialize(), function(data) {
				$('#comment_form .btn').prop('disabled', false);
				if(data.error) {
					return;
				}
				// Append the new comment to the list
				$('#comment_form')
					.after(
						'<div class="media" id="c-' + data.id + '" data-id="' + data.id + '">' +
							'<a class="pull-left" href="{{ @site.url }}user/' + data.user_username + '">' +
								'<img src="{{ @user_obj->avatar(48) }}" class="media-object profile-picture img-rounded" alt>' +
							'</a>' +
							'<div class="media-body">' +
								'<p class="media-heading"><a href="{{ @site.url }}user/' + data.user_username + '">' + data.user_name + '</a></p>' +
								'<div class="tex">' + data.text + '</div>' +
								'<p class="text-muted"><small>' + data.date_formatted + '</small></p>' +
							'</div>' +
						'</div>');
				$('#comment_textarea').val('').html('');
				$('#comment_badge').text(parseInt($('#comment_badge').text()) + 1);
			}, 'json');

			$this.prop('disabled', true);
		}
		e.preventDefault();
	});

	// Load history, watchers, and related issues
	$.get(site_url + 'issues/{{ @issue.id }}/history', {}, function(data) {
		$('#history').empty().append(data.html);
		$('#tab_history').html('{{ @dict.history }}&ensp;<span class="badge">' + data.total + '</span>');
	}, 'json').error(function() {
		$('#history').empty().append($('<p />').addClass('text-center text-danger').text('{{ @dict.error.loading_issue_history }}'));
	});
	$.get(site_url + 'issues/{{ @issue.id }}/watchers', {}, function(data) {
		$('#watchers').empty().append(data.html);
		$('#tab_watchers').html('{{ @dict.watchers }}&ensp;<span class="badge" id="watchers-badge">' + data.total + '</span>');

		// Add/remove watchers from tab
		$('#watchers-list').on('click', 'a.delete', function(e) {
			$li = $(this).parents('li');
			$.post(site_url + 'issues/{{ @issue.id }}', {
				action: 'remove_watcher',
				user_id: $li.data('user-id')
			});

			var matches = $('#watchers-list li').filter('[data-user-id=' + $li.data('user-id') + ']');
			$('#watchers-badge').text(parseInt($('#watchers-badge').text()) - matches.length);
			matches.remove();

			e.preventDefault();
		});
		$('#add-watcher').submit(function(e) {
			$this = $(this);
			$.post(site_url + 'issues/{{ @issue.id }}', $this.serialize());

			$select = $this.find('select');
			$('<li />')
				.attr('data-user-id', $select.val())
				.html('<a href="#" class="delete text-danger"><span class="glyphicon glyphicon-remove"></span></a>&ensp;' + $select.children('option:selected').text())
				.appendTo('#watchers-list');

			$('#watchers-badge').text(parseInt($('#watchers-badge').text()) + 1);

			e.preventDefault();
		});

	}, 'json').error(function() {
		$('#watchers').empty().append($('<p />').addClass('text-center text-danger').text('{{ @dict.error.loading_issue_watchers }}'));
	});
	$.get(site_url + 'issues/{{ @issue.id }}/related', {}, function(data) {
		$('#related').empty().append(data.html);
		$('#tab_related').html($('#tab_related').text() + '&ensp;<span class="badge">' + data.open +' / '+ data.total + '</span>');
		$('#related table').stupidtable();
	}, 'json').error(function() {
		$('#related').empty().append($('<p />').addClass('text-center text-danger').text('{{ @dict.error.loading_related_issues }}'));
	});

	// Load dependencies
	var load_dependencies = function() {
		$.get(site_url + 'issues/{{ @issue.id }}/dependencies', {}, function(data) {
			$('#dependencies').empty().append(data.html);
			$('#dependencies_badge').text(data.total);
			$('#dependencies table').stupidtable();
		}, 'json').error(function() {
			$('#dependencies').empty().append($('<p />').addClass('text-center text-danger').text('{{ @dict.error.loading_dependencies }}'));
		});
	};
	load_dependencies();

	// Add/remove dependencies from tab
	$('#dependencies').on('click', 'a.delete', function(e) {
		$tr = $(this).parents('tr');
		$.post(site_url + 'issues/{{ @issue.id }}', {
			action: 'remove_dependency',
			id: $tr.data('id')
		});

		$tr.fadeOut(400, function(){
		 	$tr.remove();
		});

		$('#dependencies_badge').text(parseInt($('#dependencies_badge').text())  - 1);
		e.preventDefault();
	});
	$('#dependencies').on('submit', 'form', function(e) {
		$this = $(this);
		$.post(site_url + 'issues/{{ @issue.id }}', $this.serialize());

		e.preventDefault();
		load_dependencies();
	});

	// Handle inline edit form
	$("#btn-edit, #form-edit .close, #form-edit .btn-cancel").click(function(e) {
		$("#form-edit").slideToggle("fast");
		e.preventDefault();
	});

	// Due date picker
	$('#due_date, #start_date').datepicker({
		format: 'yyyy-mm-dd'
	});

	// Handle file deletion
	$(".file-list").on("click", ".delete", function(e) {
		var $file = $(this).parents("li, tr");
		$file.fadeTo(100, 0.5).popover("hide");
		$.post(site_url + "issues/file/delete", {id: $file.data("id")}, function(data) {
			$("#alert span").html('{{ @dict.file_deleted }} <a href="{{ @site.url }}javascript:void(0);" onclick="restoreFile(' + data.id + ')">{{ @dict.undo }}</a>');
			$("#alert").show();
			$(".file-list li[data-id='" + data.id + "'], .file-list tr[data-id='" + data.id + "']").remove();
		}, "json");
	});

	// Handle alert hide
	$("#alert .close").click(function(e) {
		$("#alert span").empty();
		$("#alert").hide();
	});

	// Handle comment deletion
	$(".comments").on("click", ".comment-delete", function(e) {
		if(confirm("{{ @dict.comment_delete_confirm }}")) {
			var $comment = $(this).parents(".media");
			$comment.css("text-decoration", "line-through");
			jQuery.post(site_url + "issues/comment/delete", {id: $comment.data("id")}, function(data) {
				$comment.remove();
			});
		}
	});

});
function restoreFile(file_id) {
	$.post(site_url + 'issues/file/undelete', {id: file_id}, function(data) {
		window.location = window.location;
	});
}
function watch_issue() {
	$.post(site_url + 'issues/{{ @issue.id }}', {action: 'add_watcher', user_id: '{{ @user.id }}'});
	$('#watch-btn').attr('onclick','unwatch_issue()').html('<span class="glyphicon glyphicon-eye-close"></span>&ensp;{{ @dict.unwatch }}');
}
function unwatch_issue() {
	$.post(site_url + 'issues/{{ @issue.id }}', {action: 'remove_watcher', user_id: '{{ @user.id }}'});
	$('#watch-btn').attr('onclick','watch_issue()').html('<span class="glyphicon glyphicon-eye-open"></span>&ensp;{{ @dict.watch }}');
}
</script>
</body>
</html>
