<repeat group="{{ @updates }}" value="{{ @update }}">
	<div class="media">
		<a class="pull-left" href="user/{{ @update.user_username }}">
			<img src="avatar/48/{{ @update.user_id }}.png" class="media-object profile-picture img-rounded" alt>
		</a>
		<div class="media-body">
			<p class="media-heading"><a href="user/{{ @update.user_username }}">{{ @update.user_name }}</a> on {{ date("D, M j, Y \\a\\t g:ia", utc2local(strtotime(@update.created_date))) }}</p>
			<ul>
				<repeat group="{{ @update.changes }}" value="{{ @change }}">
					<set human_readable="{{ \Helper\Update::instance()->humanReadableValues(@change.field, @change.old_value, @change.new_value) }}" />
					<check if="{{ @change.old_value }}">
						<true>
							<check if="{{ @change.new_value !== '' }}">
								<true>
									<li><b>{{ @human_readable.field }}</b> changed from <i>{{ @human_readable.old }}</i> to <i>{{ @human_readable.new }}</i></li>
								</true>
								<false>
									<li><b>{{ @human_readable.field }}</b> removed</li>
								</false>
							</check>
						</true>
						<false>
							<li><b>{{ @human_readable.field }}</b> set to <i>{{ @human_readable.new }}</i></li>
						</false>
					</check>
				</repeat>
			</ul>
			<div class="tex">{{@update.comment_text}}</div>
		</div>
	</div>
</repeat>
<check if="{{ empty(@updates) }}">
	<p class="text-center text-muted">No history available</p>
</check>
