<repeat group="{{ @updates }}" value="{{ @update }}">
	<div class="media" id="u-{{ @update.id }}">
		<a class="pull-left" href="{{ @site.url }}user/{{ @update.user_username }}">
			<img src="{{ @site.url }}avatar/48-{{ @update.user_id }}.png" class="media-object profile-picture img-rounded" alt>
		</a>
		<div class="media-body">
			<p class="media-heading">
				<check if="{{ @update.user_username }}">
					<true>
						<a href="{{ @site.url }}user/{{ @update.user_username }}">{{ @update.user_name | esc }}</a>
					</true>
					<false>
						{{ @update.user_name }}
					</false>
				</check>
				on {{ date("D, M j, Y \\a\\t g:ia", $this->utc2local(strtotime(@update.created_date))) }}
			</p>
			<ul>
				<repeat group="{{ @update.changes }}" value="{{ @change }}">
					<set humanreadable="{{ \Helper\Update::instance()->humanReadableValues(@change.field, @change.old_value, @change.new_value) }}" />
					<check if="{{ @change.old_value }}">
						<true>
							<check if="{{ @change.new_value !== '' }}">
								<true>
									<check if="{{ @change.field == 'description' }}">
										<true>
											<li>
												<b>{{ @humanreadable.field }}</b> changed:<br>
												{~ @diff = new \Helper\Diff(explode("\n", @change.old_value), explode("\n", @change.new_value), array("ignoreWhitespace" => true)); ~}
												{~ @diff_renderer = new \Helper\Diff\Renderer\Html\Inline ~}
												{{ @diff->render(@diff_renderer) }}
											</li>
										</true>
										<false>
											<li><b>{{ @humanreadable.field }}</b> changed from <i>{{ @humanreadable.old | esc }}</i> to <i>{{ @humanreadable.new | esc }}</i></li>
										</false>
									</check>
								</true>
								<false>
									<li><b>{{ @humanreadable.field }}</b> removed</li>
								</false>
							</check>
						</true>
						<false>
							<li><b>{{ @humanreadable.field }}</b> set to <i>{{ @humanreadable.new | esc }}</i></li>
						</false>
					</check>
				</repeat>
			</ul>
			<check if="{{ @update.comment_id }}">
				<div class="tex">{{ $this->parseTextile(@update.comment_text, false, false) }}</div>
			</check>
		</div>
	</div>
</repeat>
<check if="{{ empty(@updates) }}">
	<p class="text-center text-muted">{{ @dict.no_history_available }}</p>
</check>
