<ul class="list-unstyled" id="watchers-list">
    <repeat group="{{ @watchers }}" value="{{ @watcher }}">
        <li data-user-id="{{ @watcher.id }}">
            <a href="#" class="delete text-danger"><span class="fa fa-remove"></span></a>&ensp;{{ @watcher.name | esc }}
        </li>
    </repeat>
</ul>
<form class="form-inline" id="add-watcher">
    <select name="user_id" class="form-control mr-2" id="watcherselect">
        <repeat group="{{ @users }}" value="{{ @user }}">
            <option value="{{ @user.id }}">{{ @user.name | esc }}</option>
        </repeat>
    </select>
    <button type="submit" class="btn btn-primary">{{ @dict.add_watcher }}</button>
</form>
