<!DOCTYPE html>
<html lang="en">
    <head>
    <include href="blocks/head.html" />
    <link rel="stylesheet" href="/css/backlog.css">
</head>
<body>
    <div class="container">
        <include href="blocks/navbar.html" />
        <div class="row" id="backlog">
            <div class="col-md-6">
                 <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading"><a data-toggle="collapse" href="#panel-0">&#177; Backlog</a></div>
                    <div class="panel-body in" id="panel-0">
                        <ul class="list-group sortable" data-list-id="0">
                            <li class="list-group-item" data-category="department" data-status="new" id="project_1351">
                                <span class="category">
                                    Department Project
                                </span>
                                <span class="title">
                                    Process Analysis & Map: Receiving
                                </span>
                                <span class="badge">
                                    1351
                                </span>
                                <span class="badge status new">
                                    New
                                </span>
                                <div style="clear:both"></div>
                            </li>
                            <li class="list-group-item" data-category="department" data-status="active" id="project_285">
                                <span class="category">
                                    PMO Project
                                </span>
                                <span class="title">
                                    Product Database Pricing
                                </span>
                                <span class="badge project-id">
                                    285
                                </span>
                                <span class="badge status active">
                                    Active
                                </span>
                                <div style="clear:both"></div>
                            </li>
                            <li class="list-group-item" data-category="department" data-status="active" id="project_286">
                                <span class="category">
                                    PMO Project
                                </span>
                                <span class="title">
                                    Product Database Pricing
                                </span>
                                <span class="badge project-id">
                                    286
                                </span>
                                <span class="badge status active">
                                    Active
                                </span>
                                <div style="clear:both"></div>
                            </li>                           
                        </ul>
                    </div><!-- end panel body -->             
                </div><!-- end panel -->
            </div>
            
            <div class="col-md-6">                
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                            <a data-toggle="collapse" href="#panel-1">&#177; Sprint 1/13-1/24</a>
                            <span class="glyphicon glyphicon-list" onclick="document.location='/taskboard/1'" title='Go to sprint taskboard'></span>
                    </div>
                    <div class="panel-body in" id="panel-1">
                        <ul class="list-group sortable" data-list-id="1">
                            <li class="list-group-item" data-category="department" data-status="new" id="project_260">
                                <span class="category">
                                    Department Project
                                </span>
                                <span class="title">
                                    Process Analysis & Map: Receiving
                                </span>
                                <span class="badge">
                                    260
                                </span>
                                <span class="badge status new">
                                    New
                                </span>
                                <div style="clear:both"></div>
                            </li>
                            <li class="list-group-item" data-category="department" data-status="active" id="project_261">
                                <span class="category">
                                    PMO Project
                                </span>
                                <span class="title">
                                    Product Database Pricing
                                </span>
                                <span class="badge project-id">
                                    261
                                </span>
                                <span class="badge status active">
                                    Active
                                </span>
                                <div style="clear:both"></div>
                            </li>
                            <li class="list-group-item completed" data-category="department" data-status="new" id="project_262">
                                <span class="category">
                                    Department Project
                                </span>
                                <span class="title">
                                    Process Analysis & Map: Receiving
                                </span>
                                <span class="badge">
                                    262
                                </span>
                                <span class="badge status completed">
                                    Completed
                                </span>
                                <div style="clear:both"></div>
                            </li>
                            <li class="list-group-item" data-category="department" data-status="active" id="project_288">
                                <span class="category">
                                    PMO Project
                                </span>
                                <span class="title">
                                    Product Database Pricing
                                </span>
                                <span class="badge project-id">
                                    288
                                </span>
                                <span class="badge status hold">
                                    On Hold
                                </span>
                                <div style="clear:both"></div>
                            </li>                           
                        </ul>
                    </div><!-- end panel body -->             
                </div><!-- end panel -->

                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                            <a data-toggle="collapse" href="#panel-2">&#177; Sprint 1/25-2/7</a>
                            <span class="glyphicon glyphicon-list" onclick="document.location='/taskboard/2'" title='Go to sprint taskboard'></span>
                    </div>
                    <div class="panel-body collapse" id="panel-2">
                        <ul class="list-group sortable" data-list-id="2">
                            <li class="list-group-item" data-category="department" data-status="new" id="project_1353">
                                <span class="category">
                                    Department Project
                                </span>
                                <span class="title">
                                    Process Analysis & Map: Receiving
                                </span>
                                <span class="badge">
                                    1353
                                </span>
                                <span class="badge status hold">
                                    On Hold
                                </span>
                                <div style="clear:both"></div>
                            </li>
                            <li class="list-group-item" data-category="department" data-status="active" id="project_289">
                                <span class="category">
                                    PMO Project
                                </span>
                                <span class="title">
                                    Product Database Pricing
                                </span>
                                <span class="badge project-id">
                                    289
                                </span>
                                <span class="badge status active">
                                    Active
                                </span>
                                <div style="clear:both"></div>
                            </li>
                            <li class="list-group-item completed" data-category="department" data-status="active" id="project_290">
                                <span class="category">
                                    PMO Project
                                </span>
                                <span class="title">
                                    Product Database Pricing
                                </span>
                                <span class="badge project-id">
                                    290
                                </span>
                                <span class="badge status completed">
                                    Completed
                                </span>
                                <div style="clear:both"></div>
                            </li>                           
                        </ul>
                    </div><!-- end panel body -->             
                </div><!-- end panel -->

            </div>
            
        </div>
        <include href="blocks/footer.html" />
        <script src="/js/backlog.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="/js/jquery.ui.touch-punch.min.js"></script>
    </div>
</body>
</html>
