<!DOCTYPE html>
<html lang="en">
    <head>
    <include href="blocks/head.html" />
    <link rel="stylesheet" href="/css/backlog.css">
</head>
<body>
    <div class="container">
        <include href="blocks/navbar.html" />
        <div class="row" id="backlog">
            
            <div class="col-md-6">
                 <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Backlog</div>
                    <div class="panel-body">
                        <ul class="list-group sortable" data-list-id="0">
                            <li class="list-group-item" data-category="department" data-status="new" id="project_1351">
                                <span class="category">
                                    Department Project
                                </span>
                                <span class="title">
                                    Process Analysis & Map: Receiving
                                </span>
                                <span class="badge status new">
                                    New
                                </span>
                                <span class="badge">
                                    1351
                                </span>
                            </li>
                            <li class="list-group-item" data-category="department" data-status="active" id="project_285">
                                <span class="category">
                                    PMO Project
                                </span>
                                <span class="title">
                                    Product Database Pricing
                                </span>
                                <span class="badge status active">
                                    Active
                                </span>
                                <span class="badge project-id">
                                    285
                                </span>
                            </li>
                            <li class="list-group-item" data-category="department" data-status="active" id="project_285">
                                <span class="category">
                                    PMO Project
                                </span>
                                <span class="title">
                                    Product Database Pricing
                                </span>
                                <span class="badge status active">
                                    Active
                                </span>
                                <span class="badge project-id">
                                    285
                                </span>
                            </li>                           
                        </ul>
                    </div><!-- end panel body -->             
                </div><!-- end panel -->
            </div>
            
            <div class="col-md-6">                
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Sprint 1/13-1/24</div>
                    <div class="panel-body">
                        <ul class="list-group sortable" data-list-id="1">
                            <li class="list-group-item" data-category="department" data-status="new" id="project_1351">
                                <span class="category">
                                    Department Project
                                </span>
                                <span class="title">
                                    Process Analysis & Map: Receiving
                                </span>
                                <span class="badge status new">
                                    New
                                </span>
                                <span class="badge">
                                    1351
                                </span>
                                
                            </li>
                            <li class="list-group-item" data-category="department" data-status="active" id="project_285">
                                <span class="category">
                                    PMO Project
                                </span>
                                <span class="title">
                                    Product Database Pricing
                                </span>
                                <span class="badge status active">
                                    Active
                                </span>
                                <span class="badge project-id">
                                    285
                                </span>
                            </li>
                            <li class="list-group-item" data-category="department" data-status="active" id="project_285">
                                <span class="category">
                                    PMO Project
                                </span>
                                <span class="title">
                                    Product Database Pricing
                                </span>
                                <span class="badge status active">
                                    Active
                                </span>
                                <span class="badge project-id">
                                    285
                                </span>
                            </li>                           
                        </ul>
                    </div><!-- end panel body -->             
                </div><!-- end panel -->

                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Sprint 1/25-2/7</div>
                    <div class="panel-body">
                        <ul class="list-group sortable" data-list-id="2">
                            <li class="list-group-item" data-category="department" data-status="new" id="project_1351">
                                <span class="category">
                                    Department Project
                                </span>
                                <span class="title">
                                    Process Analysis & Map: Receiving
                                </span>
                                <span class="badge status new">
                                    New
                                </span>
                                <span class="badge">
                                    1351
                                </span>
                            </li>
                            <li class="list-group-item" data-category="department" data-status="active" id="project_285">
                                <span class="category">
                                    PMO Project
                                </span>
                                <span class="title">
                                    Product Database Pricing
                                </span>
                                <span class="badge status active">
                                    Active
                                </span>
                                <span class="badge project-id">
                                    285
                                </span>
                            </li>
                            <li class="list-group-item" data-category="department" data-status="active" id="project_285">
                                <span class="category">
                                    PMO Project
                                </span>
                                <span class="title">
                                    Product Database Pricing
                                </span>
                                <span class="badge status active">
                                    Active
                                </span>
                                <span class="badge project-id">
                                    285
                                </span>
                            </li>                           
                        </ul>
                    </div><!-- end panel body -->             
                </div><!-- end panel -->

            </div>
            
        </div>
        <include href="blocks/footer.html" />
        <script src="/js/backlog.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="/js/jquery.ui.touch-punch.min.js"></script>
    </div>
</body>
</html>
