<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
	<link rel="stylesheet" href="{{ @site.url }}css/backlog.css">
</head>
<body>
<include href="blocks/navbar.html" />
<div class="container">
	<div class="row" id="backlog">
		<div class="col-md-6">
		<p>
			<a href="{{ @site.url }}backlog" class="btn btn-default btn-sm">
			<span class="glyphicon glyphicon-chevron-left"></span>&ensp;{{ @dict.future_sprints }}
			</a>
		</p>
			 <div class="panel panel-default">
				<div class="panel-heading">
					{{ @dict.backlog }}
				</div>
				<div class="panel-body in" id="panel-0">
					<ul class="list-group sortable" data-list-id="0">
					</ul>
				</div>
				<p style="text-align:center;" class="text-muted">
					{{ @dict.backlog_old_help_text }}
				</p>
			</div>
		</div>
		<div class="col-md-6">
			<repeat group="{{ @sprints }}" key="{{ @key }}" value="{{ @sprint }}">
				<div class="panel panel-default">
					<div class="panel-heading has-buttons">
						<a class="{{ @key ? 'collapsed' : '' }}" data-toggle="collapse" href="#panel-{{ @sprint.id }}">{{ @sprint.name }} {{ date('n/j', strtotime(@sprint.start_date)) }}-{{ date('n/j', strtotime(@sprint.end_date)) }}</a>
						<a href="{{ @site.url }}taskboard/{{ @sprint.id }}" class="btn btn-default btn-xs pull-right">
							<span class="glyphicon glyphicon-list"></span> {{ @dict.taskboard }}
						</a>
					</div>
					<div class="panel-body {{ @key ? 'collapse' : 'in' }}" id="panel-{{ @sprint.id }}">
						<ul class="list-group sortable" data-list-id="{{ @sprint.id }}">
							<repeat group="{{ @sprint.projects }}" value="{{ @project }}">
								<li class="list-group-item {{ @project.status_closed ? 'completed' : '' }}" data-category="department" data-status="new" id="project_{{ @project.id }}" data-id="{{ @project.id }}">
									<span class="title">
										<a href="{{ @site.url }}issues/{{ @project.id }}" target="_blank">#{{ @project.id }}</a>&ensp;
										{{ @project.name | esc }}
									</span>
									<span class="badge">{{ @project.status_name }}</span>
								</li>
							</repeat>
						</ul>
					</div>
				</div>
			</repeat>
		</div>
	</div>
	<include href="blocks/footer.html" />
	<script src="{{ @site.url }}minify/js/backlog.js"></script>
</div>
</body>
</html>
