<tr>
    <td class="footer">
        <table width="100%">
            <tr>
                <td height="20"></td>
            </tr>
            <tr>
                <td style="font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 11px; color: #95a5a6;">
                    {{ @@footer_msg ?: 'You receieved this message because you are a watcher, author, or assignee on this issue.' }}
                </td>
            </tr>
            <tr>
                <td height="15"></td>
            </tr>
        </table>
    </td>
</tr>
