<!DOCTYPE html>
<html lang="{{ @this->lang() }}">
<head>
    <include href="blocks/head.html" />
</head>
<body>
<check if="{{ empty(@user) }}">
    <true>
        <include href="blocks/navbar-public.html" />
    </true>
    <false>
        <include href="blocks/navbar.html" />
    </false>
</check>
<div class="container">
    <div class="jumbotron">
        <h1><strong>{{ @ERROR.code }}</strong> Not Found</h1>
        <p>{{ @dict.error.404_text }}</p>
    </div>
    <include href="blocks/footer.html" />
</div>
</body>
</html>
