<div class="alert alert-danger" id="error-msg">
    <p class="lead"><strong><?php echo $f3->get("ERROR.code"); ?></strong> <?php echo $f3->get("ERROR.status"); ?></p>
    <p><?php echo $f3->get("ERROR.text"); ?></p>
    <?php if($f3->get("DEBUG") >= 2) { ?>
        <div>
            <?php echo nl2br($f3->get("ERROR.trace")); ?>
        </div>
    <?php } ?>
    <?php if($f3->get("DEBUG") >= 3) { ?>
        <pre><?php echo $f3->get("db.instance")->log(); ?></pre>
    <?php } ?>
</div>
<?php /*
<div class="alert alert-danger" style="position: absolute; top: 75px; right: 15px; display: inline-block;">
    <a class="alert-link" href="#error-msg">Fatal Error</a>
</div>
*/ ?>
