<div class="alert alert-danger" id="error-msg">
	<p class="lead"><strong><?php echo $f3->get("ERROR.code"); ?></strong> <?php echo $f3->get("ERROR.status"); ?></p>
	<p><?php echo $f3->get("ERROR.text"); ?></p>
	<?php if($f3->get("DEBUG") >= 2) { ?>
		<dl>
			<?php foreach($f3->get("ERROR.trace") as $line) { ?>
				<dt><?php echo $line["file"]; ?></dt>
				<dd><?php echo $line["line"]; ?>: <?php echo $line["class"], $line["type"], $line["function"]; ?></dd>
			<?php } ?>
		</dl>
		<pre><?php echo $f3->get("db.instance")->log(); ?></pre>
	<?php } ?>
</div>
<!-- <div class="alert alert-danger" style="position: absolute; top: 75px; right: 15px; display: inline-block;">
	<a href="#error-msg">Fatal Error</a>
</div> -->
