<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<style type="text/css">
		body {
			margin: 0;
			padding: 0;
			font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
			font-size: 14px;
			line-height: 16px;
			color: #000;
		}
	</style>
</head>
<body>
<span style="font-size:0px;"> --- --- </span>

	<div style="padding: 10px;">
		<p style="margin: 0 0 10px;"><strong>
			New comment from <a href="{{ @site.url }}user/{{ @comment.user_username }}">{{ @comment.user_name | esc }}</a> on <a href="{{ @site.url }}issues/{{ @issue.id }}">#{{ @issue.id }} {{ @issue.name | esc }}</a>:
		</strong></p>
		<check if="{{ @issue.parent_id }}">
			<p><small>Under: <a href="{{ @site.url }}issues/{{ @parent.id }}">#{{ @parent.id }} {{ @parent.name | esc }}</a></small></p>
		</check>
		<img src="{{ @site.url }}avatar/48-{{ @comment.user_id }}.png" alt style="float: left; margin-right: 10px;">
		<div style="float: left" class="tex">
			{{ @comment.text | parseText }}
		</div>
		<check if="{{ @comment.file_id }}">
			<div><i>Attached file:</i> <a href="{{ @site.url }}files/{{ @comment.file_id }}/{{ @comment.file_filename }}">{{ @comment.file_filename | esc }}</a></div>
		</check>
		<div style="clear:both"></div>
	</div>
	<div style="padding: 0 10px;">
		<h1 style="font-size: 19px; font-weight: normal;"><a href="{{ @site.url }}" style="text-decoration: none;">{{ @site.name }}</a></h1>
		<span style="color: #777;"><small>{{ date("D, M j, Y \\a\\t g:ia", $this->utc2local(strtotime(@comment.created_date))) }}</small></span>
	</div>

</body>
</html>
