<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<style type="text/css">
		body {
			margin: 0;
			padding: 0;
			font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
			font-size: 14px;
			line-height: 16px;
			color: #000;
		}
	</style>
</head>
<body>
<span style="font-size:0px;"> --- --- </span>

	<div style="padding: 10px;">
		<p style="margin: 0 0 10px;"><strong><a href="{{ @site.url }}user/{{ @file.user_username }}">{{ @file.user_name }}</a> attached a file to <a href="{{ @site.url }}issues/{{ @issue.id }}">#{{ @issue.id }} {{ @issue.name }}</a>:</strong></p>
		<img src="{{ @site.url }}avatar/48/{{ @file.user_id }}.png" alt style="float: left; margin-right: 10px;">

		<a href="files/{{ @file.id }}/{{ @file.filename }}" target="_blank">{{ @file.filename }}</a>
		({{ format_filesize(@file.filesize) }})

		<div style="clear:both"></div>
	</div>
	<div style="padding: 0 10px;">
		<h1 style="font-size: 19px; font-weight: normal;"><a href="{{ @site.url }}" style="text-decoration: none;">{{ @site.name }}</a></h1>
		<span style="color: #777;"><small>{{ date("D, M j, Y \\a\\t g:ia", utc2local(strtotime(@file.created_date))) }}</small></span>
	</div>
</body>
</html>
