<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Issue #{{ @issue.id }} - {{ @issue.name | esc }} created</title>
    <include href="notification/blocks/_head.html" />
</head>
<body style="margin: 0; padding: 0;">
    <span style="font-size:0px;"> --- --- </span>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td bgcolor="#ffffff">
                <div align="center" style="padding: 0px 15px 0px 15px;">
                    <table width="600" class="wrapper">

                        <include href="notification/blocks/logo.html" />

                        <!-- Header -->
                        <tr>
                            <td bgcolor="#2c3e50" style="border-radius: 4px 4px 0 0;" class="header">
                                <table width="100%">
                                    <tr>
                                        <td colspan="3" height="45"></td>
                                    </tr>
                                    <tr>
                                        <td width="15"></td>
                                        <td style="font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 18px; color: #ffffff; line-height: 1.5;">
                                            Issue <a href="{{ @site.url }}issues/{{ @issue.id }}" style="font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 18px; color: #ffffff; text-decoration: underline; line-height: 1.5;">#{{ @issue.id }} &ndash; {{ @issue.name | esc }}</a> created
                                        </td>
                                        <td width="15"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" height="15"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <!-- Message -->
                        <tr>
                            <td class="body">
                                <table style="border: 1px solid #ecf0f1; border-top: 0;" width="100%">
                                    <tr>
                                        <td colspan="3" height="15"></td>
                                    </tr>
                                    <tr>
                                        <td width="15"></td>
                                        <td>

                                            <!-- Creation -->
                                            <table width="100%">
                                                <tr>
                                                    <td style="font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; color: #2c3e50; line-height: 1.5;">
                                                        <ul style="padding-left: 20px; margin: 5px 0 5px 0;">
                                                            <li style="font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; color: #2c3e50; line-height: 1.5;">
                                                                <span style="font-weight: bold; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; color: #2c3e50; line-height: 1.5;">Author:</span>
                                                                {{ @issue.author_name | esc }}
                                                            </li>
                                                        </ul>
                                                        <ul style="padding-left: 20px; margin: 5px 0 5px 0;">
                                                            <li style="font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; color: #2c3e50; line-height: 1.5;">
                                                                <span style="font-weight: bold; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; color: #2c3e50; line-height: 1.5;">Assigned to:</span>
                                                                {{ @issue.owner_name | esc }}
                                                            </li>
                                                        </ul>
                                                        <ul style="padding-left: 20px; margin: 5px 0 5px 0;">
                                                            <li style="font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; color: #2c3e50; line-height: 1.5;">
                                                                <span style="font-weight: bold; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; color: #2c3e50; line-height: 1.5;">Priority:</span>
                                                                {{ @issue.priority_name | esc }}
                                                            </li>
                                                        </ul>
                                                        <ul style="padding-left: 20px; margin: 5px 0 5px 0;">
                                                            <li style="font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; color: #2c3e50; line-height: 1.5;">
                                                                <span style="font-weight: bold; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; color: #2c3e50; line-height: 1.5;">Status:</span>
                                                                {{ @issue.status_name | esc }}
                                                            </li>
                                                        </ul>
                                                        <span style="font-weight: bold; font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; color: #2c3e50; line-height: 1.5;">Description:</span><br>
                                                        {{ nl2br(htmlentities(strip_tags(@issue.description))) }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="3"></td>
                                                </tr>
                                                <tr>
                                                    <td style="font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 14px; color: #95a5a6; line-height: 1.5;">
                                                        {{ date("D, M j, Y \\a\\t g:ia", $this->utc2local(@issue.created_date)) }}
                                                    </td>
                                                </tr>
                                            </table>

                                        </td>
                                        <td width="15"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" height="15"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <include href="notification/blocks/actions.html" />
                        <include href="notification/blocks/footer.html" />

                    </table>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
