<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<style type="text/css">
		body {
			margin: 0;
			padding: 0;
			font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
			font-size: 14px;
			line-height: 16px;
			color: #000;
		}
	</style>
</head>
<body>
<!-- --- --- -->

	<div style="padding: 10px;">
		<p style="margin: 0 0 10px;"><strong>
			<a href="{{ @site.url }}issues/{{ @issue.id }}">#{{ @issue.id }} {{ @issue.name | esc }}</a> updated by <a href="{{ @site.url }}user/{{ @update.user_username }}">{{ @update.user_name | esc }}</a>:
		</strong></p>
		<check if="{{ @issue.parent_id }}">
			<p><small>Under: <a href="{{ @site.url }}issues/{{ @parent.id }}">#{{ @parent.id }} {{ @parent.name | esc }}</a></small></p>
		</check>
		<img src="{{ @site.url }}avatar/48-{{ @update.user_id }}.png" alt="" style="float: left; margin-right: 10px;">
		<div style="float: left">
			<ul style="padding: 0;">
				<repeat group="{{ @changes }}" value="{{ @change }}">
					<set human_readable="{{ \Helper\Update::instance()->humanReadableValues(@change.field, @change.old_value, @change.new_value) }}" />
					<check if="{{ @change.old_value }}">
						<true>
							<check if="{{ @change.new_value !== '' }}">
								<true>
									<check if="{{ @change.field == 'description' }}">
										<true>
											<li><b>{{ @human_readable.field }}</b> changed</li>
										</true>
										<false>
											<li><b>{{ @human_readable.field }}</b> changed from <i>{{ @human_readable.old | esc }}</i> to <i>{{ @human_readable.new | esc }}</i></li>
										</false>
									</check>
								</true>
								<false>
									<li><b>{{ @human_readable.field }}</b> removed</li>
								</false>
							</check>
						</true>
						<false>
							<li><b>{{ @human_readable.field }}</b> set to <i>{{ @human_readable.new | esc }}</i></li>
						</false>
					</check>
				</repeat>
			</ul>
			<check if="{{ @update.comment_id }}">
				<div class="tex">{{ @update.comment_text | esc }}</div>
			</check>
		</div>
		<div style="clear:both"></div>
	</div>
	<div style="padding: 0 10px;">
		<h1 style="font-size: 19px; font-weight: normal;"><a href="{{ @site.url }}" style="text-decoration: none;">{{ @site.name }}</a></h1>
		<span style="color: #777;"><small>{{ date("D, M j, Y \\a\\t g:ia", $this->utc2local(strtotime(@update.created_date))) }}</small></span>
	</div>
</body>
</html>
