<div class="list-group issue-list-group">
    <repeat group="{{ @issues }}" value="{{ @item }}">
        <a class="list-group-item list-group-item-action" href="{{ @BASE }}/issues/{{ @item.id }}">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    {{ @item.name | esc }}
                </div>
                <div class="d-flex">
                    <check if="{{ @item.repeat_cycle }}">
                        <div class="d-none d-sm-block ml-2 has-tooltip" title="{{ @dict.cols.repeat_cycle }}">
                            <span class="fa fa-repeat"></span>&ensp;{{ @dict[@item.repeat_cycle] ?: @item.repeat_cycle }}
                        </div>
                    </check>
                    <check if="{{ @item.owner_id != @user.id }}">
                        <div class="d-none d-sm-block ml-2 has-tooltip" title="{{ @dict.cols.assignee }}">
                            <span class="fa fa-user"></span>&ensp;{{ @item.owner_name | esc }}
                        </div>
                    </check>
                    <span class="badge badge-secondary badge-pill status">{{ isset(@dict[@item.status_name]) ? @dict[@item.status_name] : str_replace('_', ' ', @item.status_name) | esc }}</span>
                </div>
            </div>
            <check if="{{ strtotime(@item.due_date) }}">
                <div>Due {{ date("l, F j", strtotime(@item.due_date)) }}</div>
            </check>
            <check if="{{ @item.sprint_id }}">
                <set sprint_date_range="{{ date('M j-', strtotime(@item.sprint_start_date)) }}" />
                {~
                    if(date('Ym', strtotime(@item.sprint_start_date)) == date('Ym', strtotime(@item.sprint_end_date))) {
                        @sprint_date_range = @sprint_date_range . date('j', strtotime(@item.sprint_end_date));
                    } else {
                        @sprint_date_range = @sprint_date_range . date('M j', strtotime(@item.sprint_end_date));
                    }
                ~}
                <div class="text-muted">
                    <span class="has-tooltip" title="{{ @dict.sprint }} #{{ @item.sprint_id }}: {{ @sprint_date_range }}">{{ @item.sprint_name | esc }}</span>
                    <check if="{{ @item.type_id == @issue_type.project && @item.parent_id }}">
                        &mdash; <span class="has-tooltip" title="{{ @dict.parent_project}}">{{ @dict.under_n, '#' . @item.parent_id . ' - ' . @@item.parent_name | format }}</span>
                    </check>
                </div>
            </check>
        </a>
    </repeat>
    <check if="{{ !count(@issues) }}">
        <li class="list-group-item disabled">{{ @dict.no_matching_issues }}</li>
    </check>
</div>
