<check if="{{ @DEBUG == 3 }}">
	<set dblog="{{ @db.instance->log(true) }}" />
	<br>
	<div class="well well-sm log">
		<repeat group="{{ @dblog }}" value="{{ @row }}">
			<check if="{{ @row.cached }}">
				<true>
					<div class="text-muted">{{ @row.timestamp }} ({{ @row.runtime }}) {{ @row.query }}</div>
				</true>
				<false>
					<div>{{ @row.timestamp }} ({{ @row.runtime }}) {{ @row.query }}</div>
				</false>
			</check>
		</repeat>
	</div>
</check>
<footer class="row">
	<div class="col-xs-4">
		<p class="visible-sm visible-xs"><a href="logout" class="btn btn-default btn-xs">{{ @dict.log_out }}</a></p>
	</div>
	<div class="col-xs-8">
		<p class="text-right text-muted">
			<check if="{{ @db.instance->log() }}">
				<set querylog="{{ @db.instance->log(true) }}" />
				<set cached="0" />
				{~ foreach(@querylog as @r) if(@r.cached) ++@cached; ~}
				<span title="{{ @dict.n_total_queries_n_cached,count(@querylog),intval(@cached) | format }}">{{ @dict.n_queries,(count(@querylog) - @cached) | format }}</span> &middot;
			</check>
			<check if="{{ !empty(@microtime) }}">
				<set pagemtime="{{ microtime(true) - @microtime }}" />
				<span title="{{ @dict.page_generated_in_n_seconds,round(@pagemtime, 10) | format }}">{{ round(@pagemtime * 1000, 0) }}ms</span> &middot;
			</check>
			<span title="Real usage: {{ memory_get_peak_usage(true) }} bytes">{{ format_filesize(memory_get_peak_usage()) }}</span>
			<check if="{{ @revision }}">
				 &middot; <a class="nolink" title="{{ @dict.current_commit_n,@revision | format }}" href="https://github.com/Alanaktion/phproject/commit/{{ @revision }}" target="_blank">{{ substr(@revision, 0, 7) }}</a>
			</check>
		</p>
	</div>
</footer>
<script>var site_url = '{{ @site.url }}';</script>
<script src="minify/js/jquery-1.7.2.min.js,bootstrap.min.js,modernizr.custom.js,global.js"></script>
<script src="js/respond.min.js"></script>
<check if="{{ @user.id }}">
	<div class="modal" id="modal-loggedout" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">{{ @dict.logged_out }}</h4>
				</div>
				<div class="modal-body">
					{{ @dict.session_ended_message }}
				</div>
				<div class="modal-footer">
					<a href="login" class="btn btn-primary btn-sm">{{ @dict.log_in }}</a>
				</div>
			</div>
		</div>
	</div>
	<script>
	var session_ping = function() {
		$.get("ping", function(data) {
			if(data.is_logged_in) {
				window.setTimeout(session_ping, 5000);
			} else {
				$(".modal.in").modal("hide");
				$("#modal-loggedout").modal("show");
			}
		});
	};
	$(document).ready(function() {
		window.setTimeout(session_ping, 5000);
	});
	</script>
</check>
