<set headings="{{ array('id', 'title', 'type', 'priority', 'status', 'parent_id', 'author', 'assignee', 'sprint', 'repeat_cycle', 'created', 'due') }}" />
<check if="{{ !empty(@GET.status) && @GET.status != 'open' }}">
{~ @headings[] = 'closed' ~}
</check>
<form action="{{ @site.url }}issues" method="get" id="filter">
	<table class="table table-striped table-hover table-responsive table-condensed issue-list">
		<thead>
			<input type="hidden" name="orderby" id="orderby" value="{{ !empty(@GET.orderby) ? @GET.orderby : 'priority' }}" />
			<input type="hidden" name="ascdesc" id="ascdesc" value="{{ !empty(@GET.ascdesc) ? @GET.ascdesc : 'desc' }}" />
			<check if="{{ !empty(@show_filters) }}">
				<tr class="issue-filters">
					<td colspan="2">
						<check if="{{ !empty(@show_export) }}">
							<a class="btn btn-default btn-xs" href="{{ @site.url }}issues/export?{{ http_build_query($_GET) }}">
								<span class="glyphicon glyphicon-save"></span>&ensp;{{ @dict.export }}
							</a>
						</check>
					</td>
					<td>
						<input type="text" class="form-control input-sm" name="name" value="{{ !empty(@GET.name) ? @GET.name : '' }}">
					</td>
					<td>
						<select class="form-control input-sm" name="type_id">
							<option></option>
							<repeat group="{{ @types }}" value="{{ @item }}">
								<check if="{{ !empty(@GET.type_id) && @GET.type_id == @item.id }}">
									<true><option value="{{ @item.id }}" selected>{{ @item.name }}</option></true>
									<false><option value="{{ @item.id }}">{{ @item.name }}</option></false>
								</check>
							</repeat>
						</select>
					</td>
					<td>
						<select class="form-control input-sm" name="priority">
							<option></option>
							<repeat group="{{ @priorities }}" value="{{ @item }}">
								<check if="{{ !empty(@GET.priority) && @GET.priority == @item.value }}">
									<true><option value="{{ @item.value }}" selected>{{ @item.name }}</option></true>
									<false><option value="{{ @item.value }}">{{ @item.name }}</option></false>
								</check>
							</repeat>
						</select>
					</td>
					<td>
						<select class="form-control input-sm" name="status">
							<option></option>
							<optgroup label="{{ @dict.general }}">
								<check if="{{ !empty(@GET.status) && @GET.status == 'open' }}">
									<true><option value="open" selected>{{ @dict.open }}</option></true>
									<false><option value="open">{{ @dict.open }}</option></false>
								</check>
								<check if="{{ !empty(@GET.status) && @GET.status == 'closed' }}">
									<true><option value="closed" selected>{{ @dict.closed }}</option></true>
									<false><option value="closed">{{ @dict.closed }}</option></false>
								</check>
							</optgroup>
							<optgroup label="{{ @dict.exact_match }}">
								<repeat group="{{ @statuses }}" value="{{ @item }}">
									<check if="{{ !empty(@GET.status) && @GET.status == @item.id }}">
										<true><option value="{{ @item.id }}" selected>{{ @item.name }}</option></true>
										<false><option value="{{ @item.id }}">{{ @item.name }}</option></false>
									</check>
								</repeat>
							</optgroup>
						</select>
					</td>
					<td>
						<input class="form-control input-sm" name="parent_id" value="{{ !empty(@GET.parent_id) ? @GET.parent_id : '' }}" />
					</td>
					<td>
						<select class="form-control input-sm" name="author_id">
							<option></option>
							<check if="{{ isset(@user.id) }}">
								<option value="{{ @user.id }}">{{ @user.name | esc }}</option>
							</check>
							<optgroup label="{{ @dict.groups }}">
								<repeat group="{{ @groups }}" value="{{ @item }}">
									<check if="{{ !empty(@GET.author_id) && @GET.author_id == @item.id }}">
										<true><option value="{{ @item.id }}" selected>{{ @item.name | esc }}</option></true>
										<false><option value="{{ @item.id }}">{{ @item.name | esc }}</option></false>
									</check>
								</repeat>
							</optgroup>
							<optgroup label="{{ @dict.users }}">
								<repeat group="{{ @users }}" value="{{ @item }}">
									<check if="{{ !empty(@GET.author_id) && @GET.author_id == @item.id }}">
										<true><option value="{{ @item.id }}" selected>{{ @item.name | esc }}</option></true>
										<false><option value="{{ @item.id }}">{{ @item.name | esc }}</option></false>
									</check>
								</repeat>
							</optgroup>
						</select>
					</td>
					<td>
						<select class="form-control input-sm" name="owner_id">
							<option></option>
							<check if="{{ isset(@user.id) }}">
								<option value="{{ @user.id }}">{{ @user.name | esc }}</option>
							</check>
							<optgroup label="{{ @dict.groups }}">
								<repeat group="{{ @groups }}" value="{{ @item }}">
									<check if="{{ !empty(@GET.owner_id) && @GET.owner_id == @item.id }}">
										<true><option value="{{ @item.id }}" selected>{{ @item.name | esc }}</option></true>
										<false><option value="{{ @item.id }}">{{ @item.name | esc }}</option></false>
									</check>
								</repeat>
							</optgroup>
							<optgroup label="{{ @dict.users }}">
								<repeat group="{{ @users }}" value="{{ @item }}">
									<check if="{{ !empty(@GET.owner_id) && @GET.owner_id == @item.id }}">
										<true><option value="{{ @item.id }}" selected>{{ @item.name | esc }}</option></true>
										<false><option value="{{ @item.id }}">{{ @item.name | esc }}</option></false>
									</check>
								</repeat>
							</optgroup>
						</select>
					</td>
					<td>
						<select class="form-control input-sm" name="sprint_id">
							<option></option>
							<repeat group="{{ array_reverse(@sprints) }}" value="{{ @item }}">
								<check if="{{ !empty(@GET.sprint_id) && @GET.sprint_id == @item.id }}">
									<true><option value="{{ @item.id }}" selected>{{ date("M j, Y", strtotime(@item.start_date)) }}</option></true>
									<false><option value="{{ @item.id }}">{{ date("M j, Y", strtotime(@item.start_date)) }}</option></false>
								</check>
							</repeat>
						</select>
					</td>
					<td>
						<select class="form-control input-sm" name="repeat_cycle">
							<option></option>
							<optgroup label="{{ @dict.general }}">
								<check if="{{ !empty(@GET.repeat_cycle) && @GET.repeat_cycle == 'repeat' }}">
									<true><option value="repeat" selected>{{ @dict.repeating }}</option></true>
									<false><option value="repeat">{{ @dict.repeating }}</option></false>
								</check>
								<check if="{{ !empty(@GET.repeat_cycle) && @GET.repeat_cycle == 'none' }}">
									<true><option value="none" selected>{{ @dict.not_repeating }}</option></true>
									<false><option value="none">{{ @dict.not_repeating }}</option></false>
								</check>
							</optgroup>
							<optgroup label="{{ @dict.exact_match }}">
								<check if="{{ !empty(@GET.repeat_cycle) && @GET.repeat_cycle == 'daily' }}">
									<true><option value="daily" selected>{{ @dict.daily }}</option></true>
									<false><option value="daily">{{ @dict.daily }}</option></false>
								</check>
								<check if="{{ !empty(@GET.repeat_cycle) && @GET.repeat_cycle == 'weekly' }}">
									<true><option value="weekly" selected>{{ @dict.weekly }}</option></true>
									<false><option value="weekly">{{ @dict.weekly }}</option></false>
								</check>
								<check if="{{ !empty(@GET.repeat_cycle) && @GET.repeat_cycle == 'monthly' }}">
									<true><option value="monthly" selected>{{ @dict.monthly }}</option></true>
									<false><option value="monthly">{{ @dict.monthly }}</option></false>
								</check>
								<check if="{{ !empty(@GET.repeat_cycle) && @GET.repeat_cycle == 'sprint' }}">
									<true><option value="sprint" selected>{{ @dict.sprint }}</option></true>
									<false><option value="sprint">{{ @dict.sprint }}</option></false>
								</check>
							</optgroup>
						</select>
					</td>
					<td></td>
					<td></td>
					<td class="text-right">
						<noscript>
							<button type="submit" class="btn btn-xs btn-primary">{{ @dict.submit }}</button>
						</noscript>
					</td>
				</tr>
			</check>
			<tr>
				<check if="{{ isset(@statuses) }}">
					<th><input type="checkbox" id="chk-toggle-all"></th>
				</check>
				<check if="{{ !empty(@heading_links_enabled) }}">
					<true>
						<repeat group="{{ @headings }}" value="{{ @heading }}">
							<th class="nowrap"><a href="#" class="issue-sort nolink" id="{{ @heading }}">
								<check if="{{ !empty(@GET.orderby) && @GET.orderby == @heading }}">
									<true>
										<check if="{{ !empty(@GET.ascdesc) && @GET.ascdesc == 'asc' }}">
											<true><span class="glyphicon glyphicon-chevron-up"></span></true>
											<false><span class="glyphicon glyphicon-chevron-down"></span></false>
										</check>
									</true>
								</check>
								{{ !empty(@dict.cols[@heading]) ? @dict.cols[@heading] : ucwords(str_replace(array('_', 'id'), array(' ', 'ID'), @heading)) }}
							</a></th>
						</repeat>
					</true>
					<false>
						<repeat group="{{ @headings }}" value="{{ @heading }}">
							<th class="nowrap">{{ !empty(@dict.cols[@heading]) ? @dict.cols[@heading] : ucwords(str_replace(array('_', 'id'), array(' ', 'ID'), @heading)) }}</th>
						</repeat>
					</false>
				</check>
			</tr>
		</thead>
		<tbody>
			<repeat group="{{ @issues.subset }}" value="{{ @item }}">
				<tr data-id="{{ @item.id }}" class="{{ @item.status_closed ? 'closed' : '' }}">
					<check if="{{ isset(@statuses) }}">
						<td><input type="checkbox" name="id[]" value="{{ @item.id }}"></td>
					</check>
					<td><a href="{{ @site.url }}issues/{{ @item.id }}" class="{{ @item.status_closed ? 'text-muted' : '' }}">{{ @item.id }}</a></td>
					<td><a href="{{ @site.url }}issues/{{ @item.id }}" class="{{ @item.status_closed ? 'text-muted' : '' }}">{{ @item.name | esc }}</a></td>
					<td>{{ @item.type_name }}</td>
					<td>{{ @item.priority_name }}</td>
					<td>{{ @item.status_name }}</td>
					<td>{{ @item.parent_id ?: '' }}</td>
					<check if="{{ @item.author_username }}">
						<true>
							<td><a href="{{ @site.url }}user/{{ @item.author_username }}" rel="author">{{ @item.author_name | esc }}</a></td>
						</true>
						<false>
							<td>{{ @item.author_name | esc }}</td>
						</false>
					</check>
					<check if="{{ @item.owner_username }}">
						<true>
							<td><a href="{{ @site.url }}user/{{ @item.owner_username }}">{{ @item.owner_name | esc }}</a></td>
						</true>
						<false>
							<td>{{ @item.owner_name | esc }}</td>
						</false>
					</check>
					<td>{{ !empty(@item.sprint_start_date) ? date("n/j/y", strtotime(@item.sprint_start_date)) : "" }}</td>
					<td>{{ ucwords(@item.repeat_cycle) ?: 'None' }}</td>
					<td>{{ date("n/j/y", strtotime(@item.created_date)) }}</td>
					<td>{{ !empty(@item.due_date) ? date("n/j/y", strtotime(@item.due_date)) : "" }}</td>
					<check if="{{ !empty(@GET.status) && @GET.status != 'open' }}">
						<td>{{ !empty(@item.closed_date) ? date("n/j/y", strtotime(@item.closed_date)) : "" }}</td>
					</check>
				</tr>
			</repeat>
		</tbody>

	</table>
</form>

<check if="{{ isset(@user.id) && isset(@statuses) && isset(@groups) && isset(@users) && isset(@priorities) && isset(@sprints) && isset(@issue_types) }}">
	<a class="btn btn-default btn-sm" data-toggle="modal" href="{{ @site.url }}javascript:void(0)" data-target="#bulk-actions">{{ @dict.bulk_actions }}</a>
	<div class="contatiner modal fade in" id="bulk-actions">
		<form action="{{ @site.url }}issues/bulk_update" method="post" id="bulk-form">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ @dict.close }}</span></button>
						<h4 class="modal-title">{{ @dict.bulk_update }}</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<div class="row">
								<label class="col-xs-3 control-label label-sm">{{ @dict.cols.status }}</label>
								<div class="col-xs-9">
									<select class="form-control input-sm bulk-input" name="status">
										<option value="">{{ @dict.choose_option }}</option>
										<repeat group="{{ @statuses }}" value="{{ @item }}">
											<option value="{{ @item.id }}" >{{ @item.name }}</option>
										</repeat>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<label class="col-xs-3 control-label label-sm">{{ @dict.cols.assignee }}</label>
								<div class="col-xs-9">
									<select class="form-control input-sm bulk-input" name="owner_id">
										<option value="">{{ @dict.choose_option }}</option>
										<option value="-1">{{ @dict.not_assigned }}</option>
										<check if="{{ isset(@user.id) }}">
											<option value="{{ @user.id }}">{{ @user.name | esc }}</option>
										</check>
										<optgroup label="Groups">
											<repeat group="{{ @groups }}" value="{{ @group }}">
												<option value="{{ @group.id }}">{{ @group.name }}</option>
											</repeat>
										</optgroup>
										<optgroup label="Users">
											<repeat group="{{ @users }}" value="{{ @item }}">
												<option value="{{ @item.id }}">{{ @item.name }}</option>
											</repeat>
										</optgroup>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<label class="col-xs-3 control-label label-sm">{{ @dict.cols.start_date }}</label>
								<div class="col-xs-9">
									<input class="form-control input-sm bulk-input" id="start_date" type="text" name="start_date"  value="">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<label class="col-xs-3 control-label label-sm">{{ @dict.cols.due_date }}</label>
								<div class="col-xs-9">
									<input class="form-control input-sm bulk-input" id="due_date" type="text" name="due_date"  value="">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<label class="col-xs-3 control-label label-sm">{{ @dict.cols.parent_id }}</label>
								<div class="col-xs-9">
									<input class="form-control input-sm bulk-input" type="text" name="parent_id" value="">
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<label class="col-xs-3 control-label label-sm">{{ @dict.cols.priority }}</label>
								<div class="col-xs-9">
									<select class="form-control input-sm bulk-input" name="priority">
										<option value="">{{ @dict.choose_option }}</option>
										<repeat group="{{ @priorities }}" value="{{ @item }}">
											<option value="{{ @item.value }}">{{ @item.name }}</option>
										</repeat>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<label class="col-xs-3 control-label label-sm">{{ @dict.cols.sprint }}</label>
								<div class="col-xs-9">
									<select class="form-control input-sm bulk-input" name="sprint_id">
										<option value="">{{ @dict.choose_option }}</option>
										<repeat group="{{ @sprints }}" value="{{ @item }}">
											<option value="{{ @item.id }}" >{{ @item.name }} {{ date('n/j', strtotime(@item.start_date)) }}-{{ date('n/j', strtotime(@item.end_date)) }}</option>
										</repeat>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="row">
								<label class="col-xs-3 control-label label-sm">{{ @dict.cols.type }}</label>
								<div class="col-xs-9">
									<select class="form-control input-sm bulk-input" name="type_id">
										<option value="">{{ @dict.choose_option }}</option>
										<repeat group="{{ @issue_types }}" value="{{ @item }}">
											<option value="{{ @item.id }}">{{ @item.name }}</option>
										</repeat>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer form-group">
						<div class="checkbox checkbox-inline">
							<label>
								<input type="checkbox" name="notify" value="1" checked>
								{{ @dict.send_notifications }}&nbsp;
							</label>
						</div>
						<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">{{ @dict.cancel }}</button>
						<button type="submit" id="bulk-submit" class="btn btn-sm btn-primary">{{ @dict.submit }}</button>
					</div>
				</div>
			</div>
			<input type="hidden" id="url_query" name="url_query" value="{{ http_build_query($_GET) }}" />
			<input type="hidden" id="url_path" name="url_path" value="{{ @PATH }}" />
		</form>
	</div>
</check>
