<form action="/issues" method="get">
	<table class="table table-striped table-hover table-responsive table-condensed issue-list">
		<thead>
			<check if="{{ !empty(@show_filters) }}">
				<tr class="issue-filters">
					<td colspan="2">
					</td>
					<td>
						<input type="text" class="form-control input-sm" name="name" value="{{ !empty(@GET.name) ? @GET.name : '' }}">
					</td>
					<td>
						<select class="form-control input-sm" name="type_id">
							<option></option>
							<repeat group="{{ @types }}" value="{{ @item }}">
								<check if="{{ !empty(@GET.type_id) && @GET.type_id == @item.id }}">
									<true><option value="{{ @item.id }}" selected>{{ @item.name }}</option></true>
									<false><option value="{{ @item.id }}">{{ @item.name }}</option></false>
								</check>
							</repeat>
						</select>
					</td>
					<td>
						<select class="form-control input-sm" name="priority">
							<option></option>
							<repeat group="{{ @priorities }}" value="{{ @item }}">
								<check if="{{ !empty(@GET.priority) && @GET.priority == @item.value }}">
									<true><option value="{{ @item.value }}" selected>{{ @item.name }}</option></true>
									<false><option value="{{ @item.value }}">{{ @item.name }}</option></false>
								</check>
							</repeat>
						</select>
					</td>
					<td>
						<select class="form-control input-sm" name="status">
							<option></option>
							<optgroup label="General">
								<check if="{{ !empty(@GET.status) && @GET.status == 'open' }}">
									<true><option value="open" selected>Open</option></true>
									<false><option value="open">Open</option></false>
								</check>
								<check if="{{ !empty(@GET.status) && @GET.status == 'closed' }}">
									<true><option value="closed" selected>Closed</option></true>
									<false><option value="closed">Closed</option></false>
								</check>
							</optgroup>
							<optgroup label="Exact Match">
								<repeat group="{{ @statuses }}" value="{{ @item }}">
									<check if="{{ !empty(@GET.status) && @GET.status == @item.id }}">
										<true><option value="{{ @item.id }}" selected>{{ @item.name }}</option></true>
										<false><option value="{{ @item.id }}">{{ @item.name }}</option></false>
									</check>
								</repeat>
							</optgroup>
						</select>
					</td>
					<td>
						<select class="form-control input-sm" name="author_id">
							<option></option>
							<option value="{{ @user.id }}">{{ @user.name }}</option>
							<optgroup label="Groups">
								<repeat group="{{ @groups }}" value="{{ @item }}">
									<check if="{{ !empty(@GET.author_id) && @GET.author_id == @item.id }}">
										<true><option value="{{ @item.id }}" selected>{{ @item.name }}</option></true>
										<false><option value="{{ @item.id }}">{{ @item.name }}</option></false>
									</check>
								</repeat>
							</optgroup>
							<optgroup label="Users">
								<repeat group="{{ @users }}" value="{{ @item }}">
									<check if="{{ !empty(@GET.author_id) && @GET.author_id == @item.id }}">
										<true><option value="{{ @item.id }}" selected>{{ @item.name }}</option></true>
										<false><option value="{{ @item.id }}">{{ @item.name }}</option></false>
									</check>
								</repeat>
							</optgroup>
						</select>
					</td>
					<td>
						<select class="form-control input-sm" name="owner_id">
							<option></option>
							<option value="{{ @user.id }}">{{ @user.name }}</option>
							<optgroup label="Groups">
								<repeat group="{{ @groups }}" value="{{ @item }}">
									<check if="{{ !empty(@GET.owner_id) && @GET.owner_id == @item.id }}">
										<true><option value="{{ @item.id }}" selected>{{ @item.name }}</option></true>
										<false><option value="{{ @item.id }}">{{ @item.name }}</option></false>
									</check>
								</repeat>
							</optgroup>
							<optgroup label="Users">
								<repeat group="{{ @users }}" value="{{ @item }}">
									<check if="{{ !empty(@GET.owner_id) && @GET.owner_id == @item.id }}">
										<true><option value="{{ @item.id }}" selected>{{ @item.name }}</option></true>
										<false><option value="{{ @item.id }}">{{ @item.name }}</option></false>
									</check>
								</repeat>
							</optgroup>
						</select>
					</td>
					<td></td>
					<td class="text-right">
						<button type="submit" class="btn btn-xs btn-primary">Submit</button>
					</td>
				</tr>
			</check>
			<tr>
				<th></th>
				<th>ID</th>
				<th>Title</th>
				<th>Type</th>
				<th>Priority</th>
				<th>Status</th>
				<th>Author</th>
				<th>Assignee</th>
				<th>Created</th>
				<th>Due Date</th>
			</tr>
		</thead>
		<tbody>
			<repeat group="{{ @issues.subset }}" value="{{ @item }}">
				<tr data-id="{{ @item.id }}" class="{{ @item.status_closed ? 'closed' : '' }}">
					<td><input type="checkbox" name="id[]" value="{{ @item.id }}"></td>
					<td><a href="/issues/{{ @item.id }}">{{ @item.id }}</a></td>
					<td><a href="/issues/{{ @item.id }}">{{ @item.name }}</a></td>
					<td>{{ @item.type_name }}</td>
					<td>{{ @item.priority_name }}</td>
					<td>{{ @item.status_name }}</td>
					<td><a href="/user/{{ @item.author_username }}" rel="author">{{ @item.author_name }}</a></td>
					<td><a href="/user/{{ @item.owner_username }}">{{ @item.owner_name }}</a></td>
					<td>{{ date("n/j/y h:ia", strtotime(@item.created_date)) }}</td>
					<td>{{ !empty(@item.due_date) ? date("n/j/y", strtotime(@item.due_date)) : "" }}</td>
				</tr>
			</repeat>
		</tbody>
	</table>
</form>
