<div class="d-flex align-items-start my-3" id="c-{{ @comment.id }}" data-id="{{ @comment.id }}">
    <a class="mr-2" href="{{ @BASE }}/user/{{ @comment.user_username }}">
        <img class="profile-picture media-object rounded" src="{{ @BASE }}/avatar/48-{{ @comment.user_id }}.png" srcset="{{ @BASE }}/avatar/96-{{ @comment.user_id }}.png 2x" alt>
    </a>
    <div class="flex-grow-1">
        <div class="d-flex">
            <a href="{{ @BASE }}/user/{{ @comment.user_username }}">{{ @comment.user_name | esc }}</a>
            <check if="{{ @menuitem == 'index' }}">
                &gt; <a href="{{ @BASE }}/issues/{{ @comment.issue_id }}" style="{{ @issue.closed_date ? 'text-decoration: line-through;' : '' }}">{{ @issue.name | esc }}</a>
            </check>
            <check if="{{ (@user.role == 'admin' || @user.rank >= \Model\User::RANK_MANAGER) && @menuitem != 'index' }}">
                <button class="close comment-delete ml-auto" title="{{ @dict.delete }}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </check>
        </div>
        <div class="tex">{{ @comment.text, array('hashtags' => false) | parseText }}</div>
        <check if="{{ @comment.file_id }}">
            <div>
                <b>{{ @dict.attached_file }}:</b>
                <check if="{{ @comment.file_deleted_date }}">
                    <true>
                        <span style="text-decoration: line-through;">{{ @comment.file_filename | esc }}</span>
                        <span class="text-danger">[{{ @dict.deleted }}]</span>
                    </true>
                    <false>
                        <a class="file-attachment" data-mime="{{ @comment.file_content_type }}" href="{{ @BASE }}/files/{{ @comment.file_id }}/{{ @comment.file_filename | esc }}" target="_blank">
                            {{ @comment.file_filename | esc }}
                        </a>
                    </false>
                </check>
            </div>
        </check>
        <div class="text-muted">
            <small title="{{ date('Y-m-d H:i:s', @this->utc2local(@comment.created_date)) }}">{{ date("D, M j, Y \\a\\t g:ia", $this->utc2local(@comment.created_date)) }}</small>
        </div>
    </div>
</div>
