<!-- Desktop -->
<div class="navbar navbar-default navbar-fixed-top hidden-xs" role="navigation">
	<a class="navbar-brand" href="/">{{ @site.name }}</a>
	<form class="navbar-form navbar-right" method="post" action="/login">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
				<input type="text" name="username" class="form-control" placeholder="Username">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
				<input type="password" name="password" class="form-control" placeholder="Password">
			</div>
		</div>
		<button type="submit" class="btn btn-default">Log In</button>
	</form>
</div>

<!-- Mobile -->
<div class="navbar navbar-default navbar-fixed-top visible-xs" role="navigation">
	<a class="navbar-brand" href="/">{{ @site.name }}</a>
	<a href="/login" class="btn btn-default navbar-btn">Sign in</a>
</div>
