<nav class="navbar navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nb-collapse"
        aria-controls="nb-collapse" aria-expanded="false" aria-label="{{ @dict.toggle_navigation }}">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nb-collapse">
        <a class="navbar-brand" href="{{ @BASE }}/">{{ @site.name | esc }}</a>
        <form class="form-inline" method="post" action="{{ @BASE }}/login">
            <input type="text" name="username" class="form-control mr-sm-2" placeholder="{{ @dict.username }}"
                aria-label="{{ @dict.username }}">
            <input type="password" name="password" class="form-control mr-sm-2" placeholder="{{ @dict.password }}"
                aria-label="{{ @dict.password }}">
            <button type="submit" class="btn btn-secondary">{{ @dict.log_in }}</button>
        </form>
    </div>
</nav>
