<set nav="{{ \Helper\Plugin::instance()->getAllNavs(@PATH) }}" />
<div class="navbar fixed-top navbar-toggleable-md {{ (@@user.theme ?: @site.theme == 'dark') ? 'navbar-inverse' : 'navbar-light' }} bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="{{ @dict.toggle_navigation }}">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="{{ @BASE }}/" accesskey="h">
        <check if="{{ empty(@site.logo) }}">
            <true>{{ @site.name | esc }}</true>
            <false>
                <img src="{{ @site.logo }}" alt="{{ @site.name | esc }}">
            </false>
        </check>
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown {{ @menuitem == 'new' ? 'active' : '' }}">
                <a href="{{ @BASE }}/issues/new" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" accesskey="n">
                    {{ @dict.new }}
                </a>
                <div class="dropdown-menu">
                    <repeat group="{{ @issue_types }}" value="{{ @type }}">
                        <a class="dropdown-item" href="{{ @BASE }}/issues/new/{{ @type.id }}">{{ isset(@dict[@type.name]) ? @dict[@type.name] : str_replace('_', ' ', @type.name) }}</a>
                    </repeat>
                    <check if="{{ !empty(@issue) }}">
                        <div class="dropdown-divider"></div>
                        <check if="{{ @issue.type_id == @issue_type.project }}">
                            <true>
                                <h6 class="dropdown-header">{{ @dict.related }}</h6>
                                <a class="dropdown-item" href="{{ @BASE }}/issues/new/{{ @issue_type.task }}/{{ @issue.id }}">{{ @dict.task }}</a>
                                <a class="dropdown-item" href="{{ @BASE }}/issues/new/{{ @issue_type.project }}/{{ @issue.id }}">{{ @dict.subproject }}</a>
                            </true>
                            <false>
                                <h6 class="dropdown-header">{{ @dict.current_issue }}</h6>
                                <a class="dropdown-item" href="{{ @BASE }}/issues/new/{{ @issue_type.task }}/{{ @issue.id }}">{{ @dict.child_task }}</a>
                                <check if="{{ @issue.parent_id }}">
                                    <a class="dropdown-item" href="{{ @BASE }}/issues/new/{{ @issue_type.task }}/{{ @issue.parent_id }}">{{ @dict.related_task }}</a>
                                </check>
                            </false>
                        </check>
                    </check>
                    <check if="{{ @user.role == 'admin' || @nav.new }}">
                        <div class="dropdown-divider"></div>
                    </check>
                    <check if="{{ @user.role == 'admin' }}">
                        <a class="dropdown-item" href="{{ @BASE }}/admin/sprints/new">{{ @dict.sprint }}</a>
                    </check>
                    <check if="{{ @nav.new }}">
                        <repeat group="{{ @nav.new }}" value="{{ @navitem }}">
                            <a class="dropdown-item {{ @navitem.active ? 'active' : '' }}" href="{{ @BASE }}/{{ @navitem.href }}">{{ @navitem.title }}</a>
                        </repeat>
                    </check>
                </div>
            </li>
            <li class="nav-item dropdown {{ @menuitem == 'browse' ? 'active' : '' }}">
                <a href="{{ @BASE }}/issues" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" accesskey="b">
                    {{ @dict.browse }}
                </a>
                <div class="dropdown-menu" role="menu">
                    <a class="dropdown-item" href="{{ @BASE }}/issues/?status=open">{{ @dict.open }}</a>
                    <a class="dropdown-item" href="{{ @BASE }}/issues/?status=closed">{{ @dict.closed }}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ @BASE }}/issues/?status=open&amp;author_id={{ @user.id }}">{{ @dict.created_by_me }}</a>
                    <a class="dropdown-item" href="{{ @BASE }}/issues/?status=open&amp;owner_id={{ @user.id }}">{{ @dict.assigned_to_me }}</a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">{{ @dict.by_type }}</h6>
                    <repeat group="{{ @issue_types }}" value="{{ @type }}">
                        <a class="dropdown-item" href="{{ @BASE }}/issues?type_id={{ @type.id }}&amp;status=open">{{ isset(@dict[@type.name]) ? @dict[@type.name] : str_replace('_', ' ', @type.name) }}</a>
                    </repeat>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ @BASE }}/tag">{{ @dict.issue_tags }}</a>
                    <repeat group="{{ @nav.browse }}" value="{{ @navitem }}">
                        <a class="dropdown-item {{ @navitem.active ? 'active' : '' }}" href="{{ @BASE }}/{{ @navitem.href }}">{{ @navitem.title }}</a>
                    </repeat>
                </div>
            </li>
            <li class="nav-item {{ @menuitem == 'backlog' ? 'active' : '' }}">
                <a class="nav-link" href="{{ @BASE }}/backlog" accesskey="s">{{ @dict.sprints }}</a>
            </li>
            <repeat group="{{ @nav.root }}" value="{{ @navitem }}">
                <li class="nav-item {{ @navitem.active ? 'active' : '' }}">
                    <a class="nav-link" href="{{ @BASE }}/{{ @navitem.href }}">{{ @navitem.title }}</a>
                </li>
            </repeat>
        </ul>

        <form class="form-inline mr-sm-3" role="search" action="{{ @BASE }}/search" method="get">
            <input type="search" name="q" class="form-control mr-sm-2" placeholder="{{ @dict.issue_search }}" value="{{ @@GET.q | esc }}">
            <button type="submit" class="btn btn-secondary hidden-xs-down">
                <span class="sr-only">{{ @dict.submit }}</span>
                <span class="fa fa-search"></span>
            </button>
        </form>

        <ul class="nav navbar-nav">
            <check if="{{ @user.role=='admin' }}">
                <li class="nav-item {{ @menuitem == 'admin' ? 'active':'' }}">
                    <a class="nav-link" href="{{ @BASE }}/admin" accesskey="a">{{ @dict.administration }}</a>
                </li>
            </check>
            <li class="nav-item dropdown {{ @menuitem == 'user' ? 'active':'' }}">
                <a class="nav-link dropdown-toggle" href="{{ @BASE }}/user/{{ @user.username }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" accesskey="u">
                    {{ @user.name | esc }}
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <a class="dropdown-item" href="{{ @BASE }}/">{{ @dict.dashboard }}</a></li>
                    <a class="dropdown-item" href="{{ @BASE }}/user/{{ @user.username }}">{{ @dict.my_issues }}</a></li>
                    <a class="dropdown-item" href="{{ @BASE }}/user">{{ @dict.my_account }}</a></li>
                    <check if="{{ @nav.user }}">
                        <div class="dropdown-divider"></div>
                        <repeat group="{{ @nav.user }}" value="{{ @navitem }}">
                            <a class="dropdown-item {{ @navitem.active ? 'active' : '' }}" href="{{ @BASE }}/{{ @navitem.href }}">{{ @navitem.title }}</a>
                        </repeat>
                    </check>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ @BASE }}/logout">{{ @dict.log_out }}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<!-- Alerts -->
<check if="{{ !empty(@error) }}">
    <div class="{{ empty(@fullwidth) ? 'container' : 'container-fluid' }}">
        <p class="alert alert-danger alert-dismissable fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{ @dict.close }}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ @error }}
        </p>
    </div>
</check>
<check if="{{ !empty(@success) }}">
    <div class="{{ empty(@fullwidth) ? 'container' : 'container-fluid' }}">
        <p class="alert alert-success alert-dismissable fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{ @dict.close }}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ @success }}
        </p>
    </div>
</check>
<check if="{{ !empty(@site.demo) && empty(@COOKIE.demo_dismiss) }}">
    <div class="{{ empty(@fullwidth) ? 'container' : 'container-fluid' }}">
        <p class="alert alert-info alert-dismissable fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" onclick="document.cookie='demo_dismiss=1';" aria-label="{{ @dict.close }}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ @dict.demo_notice }}
        </p>
    </div>
</check>
