<!-- Desktop -->
<div class="navbar navbar-default hidden-xs" role="navigation">
	<a class="navbar-brand" href="/">{{ @site.name }}</a>
	<ul class="nav navbar-nav">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				Projects <b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="/projects/new">New Project</a></li>
				<li class="divider"></li>
				<li><a href="/projects">All Projects</a></li>
				<li><a href="/projects/me">My Projects</a></li>
				<li><a href="/projects/unassigned">Unassigned Projects</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				Tasks <b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="/tasks/new">New Task</a></li>
				<li class="divider"></li>
				<li><a href="/tasks">All Tasks</a></li>
				<li><a href="/tasks/me">My Tasks</a></li>
				<li><a href="/tasks/unassigned">Unassigned Tasks</a></li>
			</ul>
		</li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				{{ @user.name }} <b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a href="/">Dashboard</a></li>
				<li><a href="/account">My Account</a></li>
				<li class="divider"></li>
				<li><a href="/logout">Log Out</a></li>
			</ul>
		</li>
	</ul>
</div>

<!-- Mobile -->
<div class="navbar navbar-default navbar-fixed-top visible-xs" role="navigation">
	<a class="navbar-brand" href="/">{{ @site.name }}</a>
	<button type="button" class="btn btn-default navbar-btn navbar-right"><span class="glyphicon glyphicon-user"></span></button>
</div>
