<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body>
<include href="blocks/navbar.html" />
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#profile" data-toggle="tab">{{ @dict.profile }}</a></li>
				<li><a href="#password" data-toggle="tab">{{ @dict.password }}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active" id="profile">
					<form class="form-horizontal" role="form" action="{{ @site.url }}user" method="post">
						<div class="form-group">
							<label for="opass" class="col-sm-2 control-label label-sm">{{ @dict.name }}</label>
							<div class="col-sm-10">
								<input class="form-control input-sm" id="name" name="name" type="text" value="{{ @user.name | esc }}" maxlength="32">
							</div>
						</div>
						<div class="form-group">
							<label for="npass" class="col-sm-2 control-label label-sm">{{ @dict.email_address }}</label>
							<div class="col-sm-10">
								<input class="form-control input-sm" id="email" name="email" type="email" value="{{ @user.email }}" maxlength="64">
							</div>
						</div>
						<div class="form-group">
							<label for="npass" class="col-sm-2 control-label label-sm">{{ @dict.theme }}</label>
							<div class="col-sm-4 col-md-2 col-lg-2">
								<select name="theme" class="form-control input-sm">
									<option value="">[ {{ @dict.default }} ]</option>
									<repeat group="{{ @themes }}" value="{{ @item }}">
										<option value="{{ @item }}" {{ (@user.theme == @item) ? 'selected':'' }}>{{ @item }}</option>
									</repeat>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="npass" class="col-sm-2 control-label label-sm">{{ @dict.language }}</label>
							<div class="col-sm-4 col-md-2 col-lg-2">
								<select name="language" class="form-control input-sm">
									<option value="">[ {{ @dict.default }} ]</option>
									<repeat group="{{ @languages }}" key="{{ @key }}" value="{{ @item }}">
										<option value="{{ @key }}" {{ (@user.language == @key) ? 'selected' : '' }}>{{ @item }}</option>
									</repeat>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="npass" class="col-sm-2 control-label label-sm">{{ @dict.task_color }}</label>
							<div class="col-sm-4 col-md-2 col-lg-2">
								<input class="form-control input-sm" id="color" name="task_color" type="color" value="{{ @user.task_color ? '#' . @user.task_color : '' }}">
							</div>
						</div>
						<check if="{{ @user.role == 'admin' }}">
							<div class="form-group">
								<label class="col-sm-2 control-label label-sm">API Key</label>
								<div class="col-sm-4 col-md-2 col-lg-2">
									<p class="form-control-static input-sm" style="font-family: monospace;">{{ @user.api_key ?: 'No API Key' }}</p>
								</div>
							</div>
						</check>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary btn-sm">{{ @dict.save }}</button>
							</div>
						</div>
					</form>
					<hr>
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">{{ @dict.avatar }}</label>
							<div class="col-sm-10">
								<p><a href="https://www.gravatar.com/emails/" target="_blank" class="img-rounded"><img src="{{ @user_obj->avatar(96) }}" class="img-rounded profile-picture" alt="Gravatar"></a></p>
								<form style="display: none;"></form>
								<form class="clearfix" method="post" enctype="multipart/form-data" action="{{ @site.url }}user/avatar">
									<input type="file" name="avatar" id="input_avatar" class="pull-left">
									<button type="submit" class="btn btn-default btn-sm pull-left nojs">{{ @dict.upload }}</button>
								</form>
								<check if="{{ empty($user->avatar_filename) }}">
									<p class="help-block"><a href="https://www.gravatar.com/emails/" target="_blank">{{ @dict.edit_on_gravatar }}</a></p>
								</check>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="password">
					<form class="form-horizontal" role="form" action="{{ @site.url }}user" method="post">
						<div class="form-group">
							<label for="opass" class="col-sm-2 control-label label-sm">{{ @dict.current_password }}</label>
							<div class="col-sm-10">
								<input class="form-control input-sm" id="opass" name="old_pass" type="password">
							</div>
						</div>
						<br>
						<div class="form-group">
							<label for="npass" class="col-sm-2 control-label label-sm">{{ @dict.new_password }}</label>
							<div class="col-sm-10">
								<input class="form-control input-sm" id="npass" name="new_pass" type="password">
							</div>
						</div>
						<div class="form-group">
							<label for="npass_confirm" class="col-sm-2 control-label label-sm">{{ @dict.confirm_password }}</label>
							<div class="col-sm-10">
								<input class="form-control input-sm" id="npass_confirm" name="new_pass_confirm" type="password">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary btn-sm">{{ @dict.save }}</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<include href="blocks/footer.html" />
</div>
<script type="text/javascript">
$('#input_avatar').change(function(e) {
	// Prevent navigation
	$('a:not([target])').click(function(e) {
		e.preventDefault();
	});

	// Show loading animation
	$('.help-block').remove();
	$(this).parents('form').parent().append('<img src="{{ @site.url }}img/ajax-loader.gif" alt="{{ @dict.loading }}" />');

	// Submit form
	$(this).parents('form').submit();
});
</script>
</body>
</html>
