<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
	<check if="{{ @user.api_key }}">
		<link rel="alternate" type="application/atom+xml" title="{{ @dict.assigned_issues }}" href="{{ @site.url }}atom.xml?type=assigned&amp;user={{ @user.username }}&amp;key={{ @user.api_key }}" />
		<link rel="alternate" type="application/atom+xml" title="{{ @dict.created_issues }}" href="{{ @site.url }}atom.xml?type=created&amp;user={{ @user.username }}&amp;key={{ @user.api_key }}" />
		<link rel="alternate" type="application/atom+xml" title="All Issues" href="{{ @site.url }}atom.xml?type=all&amp;key={{ @user.api_key }}" />
	</check>
</head>
<body class="dashboard">
<set fullwidth="{{ true }}" />
<include href="blocks/navbar.html" />
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-5">
			<h3>{{ @dict.my_projects }}&ensp;<small>{{ count(@projects) }}</small>&ensp;
				<a class="btn btn-sm btn-default has-tooltip" href="{{ @BASE }}/issues/new/{{ @issue_type.project }}" title="{{ @dict.add_project }}"><span class="glyphicon glyphicon-plus"></span></a>
			</h3>
			<set issues="{{ @projects }}" />
			<include href="blocks/dashboard-issue-list.html" />

			<check if="{{ count(@subprojects) }}">
				<h3>{{ @dict.my_subprojects }}&ensp;<small>{{ count(@subprojects) }}</small></h3>
				<set issues="{{ @subprojects }}" />
				<include href="blocks/dashboard-issue-list.html" />
			</check>

			<check if="{{ count(@bugs) }}">
				<h3>{{ @dict.my_bugs }}&ensp;<small>{{ count(@bugs) }}</small>&ensp;
					<a class="btn btn-sm btn-default has-tooltip" href="{{ @BASE }}/issues/new/{{ @issue_type.bug }}" title="{{ @dict.add_bug }}"><span class="glyphicon glyphicon-plus"></span></a>
				</h3>
				<set issues="{{ @bugs }}" />
				<include href="blocks/dashboard-issue-list.html" />
			</include>

			<check if="{{ count(@repeat_issues) }}">
				<h3>{{ @dict.repeat_work }}&ensp;<small>{{ count(@repeat_issues) }}</small>&ensp;</h3>
				<set issues="{{ @repeat_issues }}" />
				<include href="blocks/dashboard-issue-list.html" />
			</check>

			<check if="{{ count(@watchlist) }}">
				<h3>{{ @dict.my_watchlist }}&ensp;<small>{{ count(@watchlist) }}</small>&ensp;</h3>
				<set issues="{{ @watchlist }}" />
				<include href="blocks/dashboard-issue-list.html" />
			</check>
		</div>
		<div class="col-sm-7">
			<div class="clearfix">
				<h3 class="pull-left">{{ @dict.my_tasks }}&ensp;<small>{{ count(@tasks) }}</small>&ensp;
					<a class="btn btn-sm btn-default has-tooltip" href="{{ @BASE }}/issues/new/{{ @issue_type.task }}" title="{{ @dict.add_task }}"><span class="glyphicon glyphicon-plus"></span></a>
				</h3>
				<check if="{{ @sprint && @sprint.id }}">
					<div class="h3 pull-right text-right">
						<a class="btn btn-default btn-sm" href="{{ @BASE }}/taskboard/{{ @sprint.id }}/me"><span class="glyphicon glyphicon-list"></span>&ensp;{{ @dict.taskboard }}</a>
					</div>
				</check>
			</div>
			<set issues="{{ @tasks }}" />
			<include href="blocks/dashboard-issue-list.html" />
		</div>
	</div>
	<include href="blocks/footer.html" />
</div>
</body>
</html>
