<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body class="dashboard">
<div class="container">
	<include href="blocks/navbar.html" />
	<div class="row">
		<div class="col-sm-4">
			<h3>My Projects&ensp;<small>{{ @projects.total }}</small>&emsp;<a class="btn btn-sm btn-default has-tooltip" href="/issues/new/2" title="New Project"><span class="glyphicon glyphicon-plus"></span></a></h3>
			<div class="list-group">
				<repeat group="{{ @projects.subset }}" value="{{ @item }}">
					<a class="list-group-item" href="/issues/{{ @item.id }}">
						<span class="badge">#{{ @item.id }}</span>
						<h4 class="list-group-item-heading">{{ @item.name }}</h4>
						<check if="{{ strtotime(@item.due_date) }}">
							<p class="list-group-item-text">
								<span class="has-tooltip" data-placement="left" title="Due Date">{{ date("D, M j", strtotime(@item.due_date)) }}</span>
							</p>
						</check>
					</a>
				</repeat>
			</div>
		</div>
		<div class="col-sm-8">
			<h3>My Tasks&ensp;<small>{{ @tasks.total }}</small>&emsp;<a class="btn btn-sm btn-default has-tooltip" href="/issues/new/1" title="New Task"><span class="glyphicon glyphicon-plus"></span></a></h3>
			<div class="list-group">
				<repeat group="{{ @tasks.subset }}" value="{{ @item }}">
					<a class="list-group-item" href="/issues/{{ @item.id }}">
						<span class="badge">#{{ @item.id }}</span>
						<check if="{{ @item.author_id != @item.owner_id }}">
							<p class="pull-right badge-sibling hidden-xs has-tooltip" title="Author">{{ @item.author_name }}</p>
						</check>
						<h4 class="list-group-item-heading">{{ @item.name }}</h4>
						<check if="{{ strtotime(@item.due_date) }}">
							<p class="list-group-item-text">
								<span class="has-tooltip" data-placement="left" title="Due Date">{{ date("D, M j", strtotime(@item.due_date)) }}</span>
							</p>
						</check>
					</a>
				</repeat>
			</div>
		</div>
	</div>
	<include href="blocks/footer.html" />
</div>
</body>
</html>
