<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
	<check if="{{ @user.api_key }}">
		<link rel="alternate" type="application/atom+xml" title="{{ @dict.assigned_issues }}" href="{{ @site.url }}atom.xml?type=assigned&amp;user={{ @this_user.username }}&amp;key={{ @user.api_key }}" />
		<link rel="alternate" type="application/atom+xml" title="{{ @dict.created_issues }}" href="{{ @site.url }}atom.xml?type=created&amp;user={{ @this_user.username }}&amp;key={{ @user.api_key }}" />
	</check>
	<style type="text/css">
	.chart-legend div {
		float: left;
		margin-right: 1em;
	}
	.chart-legend span {
		display: inline-block;
		width: 1em;
		height: 1em;
		margin-right: .5em;
		border-radius: 2px;
	}
	</style>
</head>
<body>
	<set fullwidth="{{ true }}" />
	<include href="blocks/navbar.html" />
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 clearfix">
				<div class="pull-left" style="margin-right: 15px;">
					<img src="{{ @this_user->avatar(128) }}" class="img-rounded profile-picture" alt>
				</div>
				<div class="pull-left">
					<h3>{{ @this_user.name | esc }}</h3>
					<p>{{ @dict.username }}: {{ @this_user.username }}</p>
					<check if="{{ @this_user.role != 'group' }}">
						<p>{{ @dict.email }}: {{ @this_user.email }}</p>
					</check>
				</div>
			</div>
			<div class="col-md-8">
				<check if="{{ @this_user.role != 'group' }}">
					<true>
						<div>
							<canvas id="stats" width="600" height="100"></canvas>
						</div>
						<div class="chart-legend clearfix">
							<div><span style="background-color: #2ecc71;"></span>{{ @dict.cols.total_spent_hours }}</div>
							<div><span style="background-color: #3498db;"></span>{{ @dict.closed }}</div>
							<div><span style="background-color: #9b59b6;"></span>{{ @dict.cols.created }}</div>
						</div>
					</true>
					<false>
						<repeat group="{{ @this_user->getGroupUsers() }}" value="{{ @current_user }}">
							{{ @current_user.name }}
							<div>
								<canvas id="stats-{{ @current_user.id }}" width="600" height="100"></canvas>
							</div>
							<div class="chart-legend clearfix">
								<div><span style="background-color: #2ecc71;"></span>{{ @dict.cols.total_spent_hours }}</div>
								<div><span style="background-color: #3498db;"></span>{{ @dict.closed }}</div>
								<div><span style="background-color: #9b59b6;"></span>{{ @dict.cols.created }}</div>
							</div>
							<br>
						</repeat>
					</false>
				</check>
			</div>
		</div>
		<br>

		<div role="tabpanel">
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a href="#user-created" data-toggle="tab">{{ @dict.created_issues }}&ensp;<span class="badge">{{ @created_issues.total }}</span></a></li>
				<li><a href="#user-assigned" data-toggle="tab">{{ @dict.assigned_issues }}&ensp;<span class="badge">{{ @assigned_issues.total }}</span></a></li>
				<li><a href="#user-overdue" data-toggle="tab">{{ @dict.overdue_issues }}&ensp;<span class="badge">{{ @overdue_issues.total }}</span></a></li>
				<li><a href="#user-tree" data-toggle="tab">{{ @dict.issue_tree }}</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade in active" id="user-created">
					<set issues="{{ @created_issues }}" />
					<include href="blocks/issue-list.html" />
				</div>
				<div class="tab-pane fade" id="user-assigned">
					<set issues="{{ @assigned_issues }}" />
					<include href="blocks/issue-list.html" />
				</div>
				<div class="tab-pane fade" id="user-tree">
					<p>{{ @dict.loading }}</p>
				</div>
				<div class="tab-pane fade" id="user-overdue">
					<set issues="{{ @overdue_issues }}" />
					<include href="blocks/issue-list.html" />
				</div>
			</div>
		</div>

		<include href="blocks/footer.html" />
	</div>
	<script src="{{ @site.url }}js/chart.js"></script>
	<check if="{{ @this_user.role != 'group' }}">
		<true>
			<set stats="{{ @this_user->stats() }}" />
			<script>
			var jsonData = {
				labels: '{{ json_encode(array_values(@stats.labels)) }}',
				spent: '{{ json_encode(array_values(@stats.spent)) }}',
				closed: '{{ json_encode(array_values(@stats.closed)) }}',
				created: '{{ json_encode(array_values(@stats.created)) }}'
			};
			</script>
		</true>
		<false>
			<!-- Need to initialize chart for each user -->
		</false>
	</check>
	<script>
	// TODO: Add data for each user and loop through it
	var charts = {
		data: {
			labels: $.parseJSON(jsonData.labels),
			datasets: [{
				data: $.parseJSON(jsonData.spent),
				label: "{{ @dict.cols.total_spent_hours }}",
				fillColor: "rgba(42,204,113,0.1)",
				strokeColor: "#2ecc71",
				pointColor: "#2ecc71",
				pointStrokeColor: "#2ecc71",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "#2ecc71"
			},{
				data: $.parseJSON(jsonData.closed),
				label: "{{ @dict.closed }}",
				fillColor: "rgba(52,152,219,0.1)",
				strokeColor: "#3498db",
				pointColor: "#3498db",
				pointStrokeColor: "#3498db",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "#3498db",
			},{
				data: $.parseJSON(jsonData.created),
				label: "{{ @dict.cols.created }}",
				fillColor: "rgba(155,89,152,0.1)",
				strokeColor: "#9b59b6",
				pointColor: "#9b59b6",
				pointStrokeColor: "#9b59b6",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "#9b59b6",
			}]
		},
		options: {
			scaleBeginAtZero: true,
			bezierCurve: false,
			pointDot: true,
			pointDotRadius: 2,
			pointDotStrokeWidth: 1,
			datasetStroke: true,
			datasetStrokeWidth: 2,
			datasetFill: true,
			animation: false,
			responsive: true,
		}
	};

	$(document).ready(function() {

		// Preload issue tree
		$.get(site_url + 'user/{{ @this_user.username }}/tree', {}, function(data) {
			$('#user-tree').html(data);
		}).error(function() {
			$('#user-tree').empty().append($('<p />').addClass('text-center text-danger').text('{{ @dict.error.404_text }}'));
		});

		// Render chart
		var ctx = document.getElementById("stats").getContext("2d");
		charts.chart = new Chart(ctx).Line(charts.data, charts.options);

	});
	</script>
</body>
</html>
