.cp, .p, .nc, .nv, .na {color: #2c3e50;}
.sd {color: #7f8c8d;}
.k, .o {color: #c0392b;}
.nx, .nf {color: #16a085;}
.nx {font-style: italic;}
.k {color: #2980b9; font-style: italic;}
.s2 {color: #8e44ad;}
