<li id="f-{{ @file.id }}" data-id="{{ @file.id }}"
    data-name="{{ @file.filename | esc }}"
    data-user="{{ @file.user_name | esc }}"
    data-date="{{ date('M j, Y \a\t g:ia', $this->utc2local(strtotime(@file.created_date))) }}"
    data-mime="{{ @file.content_type | esc }}"
    data-size="{{ @file.filesize | formatFilesize }}">
    <a class="file-attachment" href="{{ @BASE }}/files/{{ @file.id }}/{{ @file.filename | esc }}" target="_blank">
        <check if="{{ in_array(@file.content_type, \Helper\File::@mimeMap.image) }}">
            <true>
                <img src="{{ @BASE }}/files/thumb/96-{{ @file.id }}.png" srcset="{{ @BASE }}/files/thumb/192-{{ @file.id }}.png 2x, {{ @BASE }}/files/thumb/288-{{ @file.id }}.png 3x" alt>
            </true>
            <false>
                <img src="{{ @BASE }}/img/mime/96/{{ \Helper\File::mimeIcon(@file.content_type) }}.svg" alt>
            </false>
        </check>
        {{ @file.filename | esc }}
    </a>
    <button type="button" class="btn btn-xs btn-danger delete" title="{{ @dict.delete }}">&times;</button>
</li>
