<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body>
<div class="container-fluid">
	<include href="blocks/navbar.html" />
	<div class="row">
		<div class="col-lg-12">
			<ul class="nav nav-tabs">
				<li><a href="/admin/">Overview</a></li>
				<li><a href="/admin/users">Users</a></li>
				<li class="active"><a href="/admin/groups">Groups</a></li>
				<li><a href="/admin/attributes">Attributes</a></li>
				<li><a href="/admin/sprints">Sprints</a></li>
			</ul>
			<div class="row">
				<div class="col-md-8">
					<p class="alert alert-success alert-popup saved" style="display: none;">Title saved.</p>
					<form role="form" onsubmit="return false;">
						<div class="form-group">
							<label class="sr-only" for="group-name">Group Name</label>
							<input type="text" class="form-control input-lg" id="group-name" name="name" value="{{ @group.name }}">
						</div>
					</form>
					<ul id="members" class="list-unstyled">
						<repeat group="{{ @members }}" value="{{ @val }}">
							<li data-user-id="{{ @val.user_id }}">
								<a href="#" class="delete text-danger has-tooltip" data-placement="right" title="Remove from Group"><span class="glyphicon glyphicon-remove"></span></a>&nbsp;
								<check if="{{ @val.manager }}">
									<true>
										<span class="manager text-warning has-tooltip" data-placement="right" title="Manager"><span class="glyphicon glyphicon-star"></span></span>&nbsp;
									</true>
									<false>
										<a href="/admin/groups/{{ @group.id }}/setmanager/{{ @val.id }}" class="manager text-muted has-tooltip" data-placement="right" title="Set as Manager"><span class="glyphicon glyphicon-star-empty"></span></a>&nbsp;
									</false>
								</check>
								{{ @val.user_name }}
							</li>
						</repeat>
					</ul>
				</div>
				<div class="col-md-4">
					<form role="form" id="adduser">
						<input type="hidden" name="action" value="add_member">
						<input type="hidden" name="group_id" value="{{ @group.id }}">
						<div class="form-group">
							<select name="user[]" style="height: 160px;" class="form-control" multiple>
								<repeat group="{{ @users }}" value="{{ @val }}">
									<option value="{{ @val.id }}">{{ @val.name }}</option>
								</repeat>
							</select>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-sm btn-primary">Add to Group</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<include href="blocks/footer.html" />
</div>
<script type="text/javascript">
$(function(){
	$('#group-name').change(function(e) {
		if($(this).val().length > 0) {
			$.post('/admin/groups/ajax',{
				action: 'change_title',
				group_id: {{ @group.id }},
				name: $(this).val()
			}, function(data) {
				$('.saved').show();
				window.setTimeout(function(){
					$('.saved').fadeOut(400);
				}, 3000);
			}, 'json');
		}
	});
	$('#members').on('click', 'a.delete', function(e) {
		$li = $(this).parents('li');
		if(confirm('Are you sure you want to remove this user?')) {
			$.post('/admin/groups/ajax', {
				action: 'remove_member',
				group_id: {{ @group.id }},
				user_id: $li.data('user-id')
			}, function(data) {
				if(data.deleted) {
					$li.remove();
				}
			}, 'json');
		}
		e.preventDefault();
	});
	$('#adduser').submit(function(e) {
		$.post('/admin/groups/ajax', $(this).serialize());
		$('#adduser select option:selected').each(function(i) {
			$this = $(this);
			$('<li />').data('user-id', $this.val()).html('<a href="#" class="delete text-danger"><span class="glyphicon glyphicon-remove"></span></a>&ensp;' + $this.text()).appendTo('#members');
		});
		e.preventDefault();
	});
});
</script>
</body>
</html>
