<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body>
<include href="blocks/navbar.html" />
<div class="container">
	<include href="blocks/admin/tabs.html" />
	<div class="row">
		<div class="col-sm-8">
			<p class="alert alert-success alert-popup saved" style="display: none;">{{ @dict.group_name_saved }}</p>
			<form role="form" onsubmit="return false;">
				<div class="form-group">
					<label class="sr-only" for="group-name">{{ @dict.group_name }}</label>
					<input type="text" class="form-control input-lg" id="group-name" name="name" value="{{ @group.name | esc }}">
				</div>
			</form>
			<ul id="members" class="list-unstyled">
				<repeat group="{{ @members }}" value="{{ @member }}">
					<li data-user-id="{{ @member.user_id }}">
						<a href="#" class="delete text-danger has-tooltip" data-placement="right" title="{{ @dict.delete }}"><span class="glyphicon glyphicon-remove"></span></a>&nbsp;
						<check if="{{ @member.manager }}">
							<true>
								<span class="manager text-warning has-tooltip" data-placement="right" title="{{ @dict.manager }}"><span class="glyphicon glyphicon-star"></span></span>&nbsp;
							</true>
							<false>
								<a href="{{ @BASE }}/admin/groups/{{ @group.id }}/setmanager/{{ @member.id }}" class="manager text-muted has-tooltip" data-placement="right" title="{{ @dict.set_as_manager }}"><span class="glyphicon glyphicon-star-empty"></span></a>&nbsp;
							</false>
						</check>
						{{ @member.user_name }}
					</li>
				</repeat>
			</ul>
		</div>
		<div class="col-sm-4">
			<form role="form" id="adduser">
				<input type="hidden" name="action" value="add_member">
				<input type="hidden" name="group_id" value="{{ @group.id }}">
				<div class="form-group">
					<select name="user[]" style="height: 160px;" class="form-control" multiple>
						<repeat group="{{ @users }}" value="{{ @item }}">
							<option value="{{ @item.id }}">{{ @item.name | esc }}</option>
						</repeat>
					</select>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-sm btn-primary">{{ @dict.add_to_group }}</button>
				</div>
			</form>
		</div>
	</div>
	<include href="blocks/footer.html" />
</div>
<script type="text/javascript">
$(function(){
	$('#group-name').change(function(e) {
		if($(this).val().length > 0) {
			$.post('{{ @BASE }}/admin/groups/ajax',{
				action: 'change_title',
				group_id: parseInt('{{ @group.id }}'),
				name: $(this).val()
			}, function(data) {
				$('.saved').show();
				window.setTimeout(function(){
					$('.saved').fadeOut(400);
				}, 3000);
			}, 'json');
		}
	});
	$('#members').on('click', 'a.delete', function(e) {
		$li = $(this).parents('li');
		if(confirm('Are you sure you want to remove this user?')) {
			$.post('{{ @BASE }}/admin/groups/ajax', {
				action: 'remove_member',
				group_id: parseInt('{{ @group.id }}'),
				user_id: $li.data('user-id')
			}, function(data) {
				if(data.deleted) {
					$li.remove();
				}
			}, 'json');
		}
		e.preventDefault();
	});
	$('#adduser').submit(function(e) {
		$.post('{{ @BASE }}/admin/groups/ajax', $(this).serialize());
		$('#adduser select option:selected').each(function(i) {
			$this = $(this);
			$('<li />').data('user-id', $this.val()).html('<a href="#" class="delete text-danger"><span class="glyphicon glyphicon-remove"></span></a>&ensp;' + $this.text()).appendTo('#members');
		});
		e.preventDefault();
	});
});
</script>
</body>
</html>
