<check if="{{ @issue.closed_date }}">
	<true>
		<a href="{{ @site.url }}issues/{{ @issue.id }}" class="text-muted"><s>#{{ @issue.id }} &ndash; {{ @issue.name | esc }}</s></a>
	</true>
	<false>
		<a href="{{ @site.url }}issues/{{ @issue.id }}">#{{ @issue.id }} &ndash; {{ @issue.name | esc }}</a>
	</false>
</check>
<check if="{{ @children }}">
	<span class="text-muted">&middot; {{ @dict.n_child_issues, count(@children) | format }} &middot; {{ @dict.n_complete, round(@childrenCompleted / count(@children) * 100).'%' | format }}</span>
</check>
