<!DOCTYPE html>
<html lang="en">
<head>
    <include href="blocks/head.html" />
</head>
<body>
<div class="container-fluid">
    <include href="blocks/navbar.html" />
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs">
                <li><a href="admin/">Overview</a></li>
                <li><a href="admin/users">Users</a></li>
                <li><a href="admin/groups">Groups</a></li>
                <li><a href="admin/attributes">Attributes</a></li>
                <li class="active"><a href="admin/sprints">Sprints</a></li>
            </ul>
            <form action="admin/sprints/breaker" method="post" role="form" class="form-horizontal" autocomplete="off">
                <legend>Sprint<b>Breaker</b>&reg;</legend>

            </form>
        </div>
    </div>
    <include href="blocks/footer.html" />
</div>
</body>
</html>
