<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body>
<div class="container-fluid">
	<include href="blocks/navbar.html" />
	<div class="row">
		<div class="col-lg-12">
			<ul class="nav nav-tabs">
				<li><a href="admin/">Overview</a></li>
				<li><a href="admin/users">Users</a></li>
				<li><a href="admin/groups">Groups</a></li>
				<li class="active"><a href="admin/attributes">Attributes</a></li>
				<li><a href="admin/sprints">Sprints</a></li>
			</ul>
			<form action="admin/attributes/new" method="post" role="form" class="form-horizontal" autocomplete="off">
				<legend>{{ empty(@attribute) ? 'New' : 'Edit' }} Attribute</legend>
				<div class="form-group">
					<label for="name" class="col-lg-2 control-label label-sm">Name</label>
					<div class="col-lg-10">
						<input class="form-control input-sm" id="name" type="text" name="name" value="{{ empty(@attribute.name) ? "" : @attribute.name }}" autofocus>
					</div>
				</div>
				<div class="form-group">
					<label for="type" class="col-lg-2 control-label label-sm">Type</label>
					<div class="col-lg-10">
						<select class="form-control input-sm" id="type" name="type">
							<option value="text" {{ empty(@attribute) && @attribute.type = "text" ? "selected" : "" }}>Text</option>
							<option value="numeric" {{ empty(@attribute) && @attribute.type = "numeric" ? "selected" : "" }}>Numeric</option>
							<option value="datetime" {{ empty(@attribute) && @attribute.type = "datetime" ? "selected" : "" }}>Date/Time</option>
							<option value="list" {{ empty(@attribute) && @attribute.type = "list" ? "selected" : "" }}>List</option>
							<option value="bool" {{ empty(@attribute) && @attribute.type = "bool" ? "selected" : "" }}>Boolean</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="default" class="col-lg-2 control-label label-sm">Default Value</label>
					<div class="col-lg-10">
						<input class="form-control input-sm" id="default" type="text" name="default" value="{{ empty(@attribute.default) ? "" : @attribute.default }}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 control-label label-sm">Issue Types</label>
					<div class="col-lg-10 clearfix">
						<repeat group="{{ @issue_types }}" value="{{ @type }}">
							<div class="checkbox checkbox-left">
								<input type="hidden" name="types[{{ @type.id }}]" value="0">
								<label><input type="checkbox" name="types[{{ @type.id }}]" value="1"> {{ @type.name }}</label>
							</div>
						</repeat>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-2">
						<button type="submit" class="btn btn-primary btn-sm">Save Attribute</button>
						<a href="admin/attributes" class="btn btn-default btn-sm">Cancel</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<include href="blocks/footer.html" />
</div>
</body>
</html>
