<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body>
<div class="container">
	<include href="blocks/navbar.html" />
	<div class="row">
		<div class="col-lg-12">
			<div class="clearfix">
				<ul class="nav nav-tabs">
					<li><a href="/admin/">Overview</a></li>
					<li><a href="/admin/users">Users</a></li>
					<li><a href="/admin/groups">Groups</a></li>
					<li class="active"><a href="/admin/attributes">Attributes</a></li>
					<li><a href="/admin/sprints">Sprints</a></li>
				</ul>
			</div>
			<p class="alert alert-info">Custom issue attributes are not yet available</p>
		</div>
	</div>
	<include href="blocks/footer.html" />
</div>
</body>
</html>
