<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body class="dashboard">
<div class="container">
	<include href="blocks/navbar.html" />
	<div class="row">
		<div class="col-lg-12">
			<div class="clearfix">
				<ul class="nav nav-tabs pull-left">
					<li><a href="/admin/">Overview</a></li>
					<li><a href="/admin/users">Users</a></li>
					<li class="active"><a href="/admin/groups">Groups</a></li>
					<li><a href="/admin/issue_types">Issue Types</a></li>
					<li><a href="/admin/issue_attributes">Issue Attributes</a></li>
				</ul>
				<div class="pull-right">
					<a href="#" class="btn btn-default btn-sm" data-toggle="modal" data-target="#new" onclick="window.setTimeout('$(\'#input_name\').focus()',10);">
						<span class="glyphicon glyphicon-plus"></span>&ensp;New
					</a>
				</div>
			</div>
			<table class="table table-hover" style="width: auto; min-width: 300px;">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Members</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<repeat group="{{ @groups }}" value="{{ @group }}">
						<tr onclick="self.location='/admin/groups/{{ @group.id }}'" style="cursor: pointer">
							<td><a href="/admin/groups/{{ @group.id }}">{{ @group.id }}</a></td>
							<td>{{ @group.name }}</td>
							<td>{{ @group.count }}</td>
							<td><a href="/admin/groups/{{ @group.id }}/delete" class="has-tooltip" title="Delete"><span class="glyphicon glyphicon-trash"></span></a></td>
						</tr>
					</repeat>
				</tbody>
			</table>
			<check if="{{ empty(@groups) }}">
				<p class="text-center">No groups :(</p>
			</check>
		</div>
	</div>
	<include href="blocks/footer.html" />
</div>
<div class="modal" id="new" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<form class="modal-content" action="/admin/groups/new" method="post">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="$('#input_name').val('');">&times;</button>
				<h4 class="modal-title">Add Group</h4>
			</div>
			<div class="modal-body">
				<input type="text" class="form-control" id="input_name" name="name" placeholder="Group Name">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal" onclick="$('#input_name').val('');">Cancel</button>
				<button type="submit" class="btn btn-primary">Add Group</button>
			</div>
		</form>
	</div>
</div>
</body>
</html>
