<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body>
<include href="blocks/navbar.html" />
<div class="container">
	<include href="blocks/admin/tabs.html" />

	<div class="row">
		<div class="col-md-3 col-sm-6">
			<div class="well well-sm text-center">
				<h4>{{ @dict.users }}</h4>
				<h2>{{ @count_user }}</h2>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="well well-sm text-center">
				<h4>{{ @dict.issues }}</h4>
				<h2>{{ @count_issue }}</h2>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="well well-sm text-center">
				<h4>{{ @dict.comments }}</h4>
				<h2>{{ @count_issue_comment }}</h2>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="well well-sm text-center">
				<h4>Updates</h4>
				<h2>{{ @count_issue_update }}</h2>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3 col-sm-6">
			<h4>Database</h4>
			<b>Host:</b> {{ @db.host }}:{{ @db.port }}<br>
			<b>Schema:</b> {{ @db.name }}<br>
			<b>{{ @dict.username }}:</b> {{ @db.user }}<br>
			<b>{{ @dict.password }}:</b> {{ str_repeat("*", strlen(@db.pass)) }}<br>
			<b>{{ @dict.current_version }}:</b> {{@version}}<br>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="clearfix">
				<h4 class="pull-left">Cache</h4>
				<form class="pull-right" action="{{ @site.url }}admin" method="post" style="margin-top: 10px;">
					<input type="hidden" name="action" value="clearcache">
					<button type="submit" class="btn btn-warning btn-xs">Clear Cache</button>
				</form>
			</div>
			<p><b>Mode:</b> {{ @CACHE }}</p>
			<small>Timeouts</small><br>
			<b>Queries:</b> {{ @cache_expire.db }}<br>
			<b>Minify:</b> {{ @cache_expire.minify }}<br>
			<b>Attachments:</b> {{ @cache_expire.attachments }}<br>
		</div>
		<div class="col-md-3 col-sm-6">
			<h4>SMTP <small>(Outgoing mail)</small></h4>
			<check if="{{ @mail.from }}">
				<true>
					<p><b>From:</b> {{ @mail.from }}</p>
				</true>
				<false>
					SMTP is not enabled.
				</false>
			</check>
			<h4>IMAP <small>(Incoming mail)</small></h4>
			<check if="{{ @imap.hostname }}">
				<true>
					<b>Hostname:</b> {{ @imap.hostname }}<br>
					<b>{{ @dict.username }}:</b> {{ @imap.username }}<br>
					<b>{{ @dict.password }}:</b> {{ str_repeat("*", strlen(@imap.password)) }}<br>
				</true>
				<false>
					IMAP is not enabled.
				</false>
			</check>
		</div>
		<div class="col-md-3 col-sm-6">
			<h4>Miscellaneous</h4>
			<p>
				<b>Debug level:</b> {{ @DEBUG }}<br>
				<b>Session Lifetime:</b> {{ gmdate("z\\d G\\h", @JAR.expire) }}<br>
				<b>Max upload:</b> {{ round(@files.maxsize/1024/1024, 2) }}MB
			</p>
			<p>
				<small>Gravatar</small><br>
				<b>Max rating:</b> {{ @gravatar.rating }}<br>
				<b>Default:</b> {{ @gravatar.default }}<br>
			</p>
		</div>
	</div>

	<include href="blocks/footer.html" />
</div>
</body>
</html>
