<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body>
<div class="container">
	<include href="blocks/navbar.html" />
	<div class="row">
		<div class="col-lg-12">
			<ul class="nav nav-tabs">
				<li class="active"><a href="/admin/">Overview</a></li>
				<li><a href="/admin/users">Users</a></li>
				<li><a href="/admin/groups">Groups</a></li>
				<li><a href="/admin/attributes">Attributes</a></li>
				<li><a href="/admin/sprints">Sprint Setup</a></li>
			</ul>
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="well well-sm text-center">
						<h4>Users</h4>
						<h2>{{ @count_user }}</h2>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="well well-sm text-center">
						<h4>Issues</h4>
						<h2>{{ @count_issue }}</h2>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="well well-sm text-center">
						<h4>Comments</h4>
						<h2>{{ @count_issue_comment }}</h2>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="well well-sm text-center">
						<h4>Updates</h4>
						<h2>{{ @count_issue_update }}</h2>
					</div>
				</div>
			</div>

			<h3>Configuration <small>These values can be changed in <span style="font-family: Consolas, monospace;">config.ini</span></small></h3>
			<div class="row">
				<div class="col-lg-2 col-md-4 col-sm-6">
					<h4>Site</h4>
					<b>Name:</b> {{ @site.name }}<br>
					<b>Description:</b> {{ @site.description }}<br>
					<b>Theme:</b> {{ @site.theme }}
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6">
					<h4>MySQL Connection</h4>
					<b>Host:</b> {{ @db.host }}<br>
					<b>Schema:</b> {{ @db.name }}<br>
					<b>Username:</b> {{ @db.user }}<br>
					<b>Password:</b> {{ str_repeat("*", strlen(@db.pass)) }}<br>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6">
					<h4>MySQL Stats</h4>
					<repeat group="{{ @db_stats }}" value="{{ @val }}">
						<b>{{ @val.Variable_name }}:</b> {{ @val.Value }}<br>
					</repeat>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6">
					<h4>SMTP</h4>
					<b>Host:</b> {{ @smtp.host }}<br>
					<b>Port:</b> {{ @smtp.port }}<br>
					<b>Scheme:</b> {{ @smtp.scheme }}<br>
					<b>Username:</b> {{ @smtp.user }}<br>
					<b>Password:</b> {{ str_repeat("*", strlen(@smtp.pass)) }}
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6">
					<h4>Gravatar</h4>
					<b>Rating:</b> {{ @gravatar.rating }}<br>
					<b>Default:</b> {{ @gravatar.default }}
				</div>
				<div class="col-lg-2 col-md-4 col-sm-6">
					<h4>Files</h4>
					<b>Max Size:</b> {{ @files.maxsize }} ({{ round(@files.maxsize/1024/1024, 2) }}MB)
				</div>
			</div>

			<br>

			<div class="clearfix">
				<h3>Cache</h3>
				<p><b>Mode:</b> {{ @CACHE }}</p>
				<check if="{{ @CACHE == 'apc' }}">
					<pre>{{ print_r(@apc_stats, true) }}</pre>
				</check>
				<form action="/admin" method="post">
					<input type="hidden" name="action" value="clearcache">
					<button type="submit" class="btn btn-warning btn-sm">Clear Cache</button>
				</form>
			</div>

		</div>
	</div>
	<include href="blocks/footer.html" />
</div>
</body>
</html>
