<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body>
<include href="blocks/navbar.html" />
<div class="container">
	<include href="blocks/admin/tabs.html" />
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th>{{ @dict.name }}</th>
				<th>{{ @dict.cols.author }}</th>
				<th>Version</th>
				<check if="{{ @user.rank >= 5 }}">
					<th></th>
				</check>
			</tr>
		</thead>
		<tbody>
			<repeat group="{{ @plugins }}" value="{{ @plugin }}" key="{{ @key }}">
				<set meta="{{ @plugin->_meta() }}" />
				{~ @method = array(@plugin, '_admin'); ~}
				<tr>
					<td>{{ @meta.package | esc }}</td>
					<td>{{ @meta.author | esc }}</td>
					<td>{{ @meta.version }}</td>
					<td>
						<check if="{{ @user.rank >= 5 && is_callable(@method) }}">
							<a href="{{ @site.url }}admin/plugins/{{ @key }}">Details</a>
						</check>
					</td>
				</tr>
			</repeat>
		</tbody>
	</table>
	<include href="blocks/footer.html" />
</div>
</body>
</html>
