<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body>
<div class="container">
	<include href="blocks/navbar.html" />
	<div class="row">
		<div class="col-lg-12">
			<div class="clearfix">
				<ul class="nav nav-tabs pull-left">
					<li><a href="/admin/">Overview</a></li>
					<li><a href="/admin/users">Users</a></li>
					<li><a href="/admin/groups">Groups</a></li>
					<li><a href="/admin/attributes">Attributes</a></li>
					<li class="active"><a href="/admin/sprints">Sprints</a></li>
				</ul>
				<div class="pull-right">
					<a href="/admin/sprints/new" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span>&ensp;New Sprint</a>
				</div>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Start Date</th>
						<th>End Date</th>
					</tr>
				</thead>
				<tbody>
					<repeat group="{{ @sprints }}" value="{{ @sprint }}">
						<tr data-sprint-id="{{ @sprint.id }}">
							<td>{{ @sprint.id }}</td>
							<td>{{ @sprint.name }}</td>
							<td>{{ @sprint.start_date }}</td>
							<td>{{ @sprint.end_date }}</td>
						</tr>
					</repeat>
				</tbody>
			</table>
		</div>
	</div>
	<include href="blocks/footer.html" />
</div>
</body>
</html>
