<!DOCTYPE html>
<html lang="en">
<head>
	<include href="blocks/head.html" />
</head>
<body class="dashboard">
<div class="container">
	<include href="blocks/navbar.html" />
	<div class="row">
		<div class="col-lg-12">
			<ul class="nav nav-tabs">
				<li class="active"><a href="/admin/">Overview</a></li>
				<li><a href="/admin/users">Users</a></li>
				<li><a href="/admin/groups">Groups</a></li>
				<li><a href="/admin/issue_types">Issue Types</a></li>
				<li><a href="/admin/issue_attributes">Issue Attributes</a></li>
			</ul>
			<div>
				<p>This page will list all of the exising users and allow creating a new one.</p>
			</div>
		</div>
	</div>
	<include href="blocks/footer.html" />
</div>
</body>
</html>
